<div class="action--buttons">
    <div class="buttons--left input--centered">
        <button>{{localize "ED.Actor.Buttons.initiative"}}</button>
        <button>{{localize "ED.Actor.Buttons.jumpUp"}}</button>
        <button>{{localize "ED.Actor.Buttons.knockDownTest"}}</button>
    </div>
    <div class="buttons--right input--centered">
        <button class="roll-takeDamage">{{localize "ED.Actor.Buttons.takeDamage"}}</button>
        <button>{{localize "ED.Actor.Buttons.halfMagic"}}</button>
        <button class="roll-recovery">{{localize "ED.Actor.Buttons.recovery"}}</button>
    </div>
</div>