<div class="action--buttons">
    <div class="buttons--left input--centered">
        <button class="action-buttons" data-action="initiative">{{localize "ED.Actor.Buttons.initiative"}}</button>
        <button class="action-buttons" data-action="jumpUp">{{localize "ED.Actor.Buttons.jumpUp"}}</button>
        <button class="action-buttons" data-action="knockdownTest">{{localize "ED.Actor.Buttons.knockDownTest"}}</button>
    </div>
    <div class="buttons--right input--centered">
        <button class="action-buttons" data-action="takeDamage">{{localize "ED.Actor.Buttons.takeDamage"}}</button>
        <button class="action-buttons" data-action="halfMagic">{{localize "ED.Actor.Buttons.halfMagic"}}</button>
        <button class="action-buttons" data-action="recovery">{{localize "ED.Actor.Buttons.recovery"}}</button>
    </div>
</div>