<div class="action--buttons">
    <div class="buttons--left input--centered">
        <button class="roll-Initiative">{{localize "ED.Actor.Buttons.initiative"}}</button>
        <button class="roll-jumpUp">{{localize "ED.Actor.Buttons.jumpUp"}}</button>
        <button class="roll-knockDown">{{localize "ED.Actor.Buttons.knockDownTest"}}</button>
    </div>
    <div class="buttons--right input--centered">
        <button class="roll-takeDamage">{{localize "ED.Actor.Buttons.takeDamage"}}</button>
        <button class="roll-halfMagic">{{localize "ED.Actor.Buttons.halfMagic"}}</button>
        <button class="roll-recovery">{{localize "ED.Actor.Buttons.recovery"}}</button>
    </div>
</div>