<div class="top">
    {{#if (ed-eq this.data.type "npc")}}
        {{#if (ed-eq this.data.system.mobRules true)}}
        <div class="image-characteristics-mob__grid-container">
        {{else}}
        <div class="image-characteristics__grid-container">
        {{/if}}
    {{else}}
    <div class="image-characteristics__grid-container">
    {{/if}}
        <!-- GRID - Image -->
        <div class="image__grid-item">
            <img class="actor-image" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        </div>

        <!-- GRID - Defenses -->
        <div class="characteristics-defenses-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.defenses"}}</h4>
        </div>
        <div class="characteristics-defenses-physical__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.physicalDefense"}}</label>
            <div>
            <input id="characteristic-defense-physical" class="input__circle-input--centered"
                name="system.characteristics.defenses.physical.value"
                value="{{actor.system.characteristics.defenses.physical.value}}">
                </div>
        </div>
        <div class="characteristics-defenses-mystical__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.mysticalDefense"}}</label>
            <div>
            <input id="characteristic-defense-mystical" class="input__circle-input--centered"
                name="system.characteristics.defenses.mystical.value"
                value="{{actor.system.characteristics.defenses.mystical.value}}">
                </div>
        </div>
        <div class="characteristics-defenses-social__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.socialDefense"}}</label>
            <div>
            <input id="characteristic-defense-social" class="input__circle-input--centered"
                name="system.characteristics.defenses.social.value"
                value="{{actor.system.characteristics.defenses.social.value}}">
                </div>
        </div>

        <!-- GRID - Health -->
        {{#if (ed-eq this.data.type "character")}}
            {{> "systems/ed4e/templates/actor/cards/health-character-card.hbs"}}
        {{else}}
            {{> "systems/ed4e/templates/actor/cards/health-none-character-card.hbs"}}
        {{/if}}

        <!-- GRID - Armor -->
        <div class="characteristics-armor-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.armor"}}</h4>
        </div>
        <div class="characteristics-armor-physical__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.physicalArmor"}}</label>
            <div>
            <input id="characteristic-armor-physical" class="input__circle-input--centered"
                name="system.characteristics.armor.physical.value"
                value="{{actor.system.characteristics.armor.physical.value}}">
                </div>
        </div>
        <div class="characteristics-armor-mystical__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.mysticalArmor"}}</label>
            <div>
            <input id="characteristic-armor-mystic" class="input__circle-input--centered"
                name="system.characteristics.armor.mystical.value"
                value="{{actor.system.characteristics.armor.mystical.value}}">
                </div>
        </div>

        <!-- GRID - Movement -->
        <div class="characteristics-movement-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.movement"}}</h4>
        </div>
        <div class="characteristics-movement__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.walkMovement"}}</label>
            <div>
            <input id="characteristic-movement-run" class="input__circle-input--centered"
                name="system.characteristics.movement.walk" value="{{actor.system.characteristics.movement.walk}}">
                </div>
        </div>

        <!-- GRID - Damage & Recovery -->
        {{#if (ed-eq this.data.type "character")}}
            {{> "systems/ed4e/templates/actor/cards/damage-character-card.hbs"}}
        {{else}}
            {{> "systems/ed4e/templates/actor/cards/damage-none-character-card.hbs"}}
        {{/if}}
    </div>
</div>