<div class="input--centered">
    <div class="navigator__actor">
        <h4>
            {{localize "ED.Sheet.Header.navigator"}}
        </h4>
        <nav class="actor-sheet-tabs list__ordered-column--flex">
            <a data-tab="actor-general-tab">{{localize "ED.Sheet.Navigator.general"}}</a>
            <a data-tab="actor-talents-tab">{{localize "ED.Sheet.Navigator.talents"}}</a>
            <a data-tab="actor-skills-tab">{{localize "ED.Sheet.Navigator.skills"}}</a>
            <a data-tab="actor-devotions-tab">{{localize "ED.Sheet.Navigator.devotions"}}</a>
            <a data-tab="actor-spells-tab">{{localize "ED.Sheet.Navigator.spells"}}</a>
            <a data-tab="actor-equipment-tab">{{localize "ED.Sheet.Navigator.equipment"}}</a>
            <a data-tab="actor-notes-tab">{{localize "ED.Sheet.Navigator.notes"}}</a>
            <a data-tab="actor-familiar-tab">{{localize "ED.Sheet.Navigator.familarsReputation"}}</a>
            <a data-tab="actor-specials-tab">{{localize "ED.Sheet.Navigator.specials"}}</a>
            <a data-tab="actor-legend-tab">{{localize "ED.Sheet.Navigator.legend"}}</a>
            <a data-tab="actor-disciplines-tab">{{localize "ED.Sheet.Navigator.classes"}}</a>
        </nav>
        <hr class="thematic-change">
    </div>
</div>