<div class="top">
    <div class="image-characteristics__grid-container">
        <!-- GRID - Image -->
        <div class="image__grid-item">
            <img class="actor-image" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        </div>

        <!-- GRID - Defenses -->
        <div class="characteristics-defenses-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.defenses"}}</h4>
        </div>
        <div class="characteristics-defenses-physical__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.physicalDefense"}}</label>
            <div>
            <input id="characteristic-defense-physcial" class="input__circle-input--centered"
                name="system.characteristics.defenses.physical.value"
                value="{{actor.system.characteristics.defenses.physical.value}}">
                </div>
        </div>
        <div class="characteristics-defenses-mystical__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.mysticalDefense"}}</label>
            <div>
            <input id="characteristic-defense-mystical" class="input__circle-input--centered"
                name="system.characteristics.defenses.mystical.value"
                value="{{actor.system.characteristics.defenses.mystical.value}}">
                </div>
        </div>
        <div class="characteristics-defenses-social__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.socialDefense"}}</label>
            <div>
            <input id="characteristic-defense-social" class="input__circle-input--centered"
                name="system.characteristics.defenses.social.value"
                value="{{actor.system.characteristics.defenses.social.value}}">
                </div>
        </div>

        <!-- GRID - Health -->
        <div class="characteristics-health-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.healthRating"}}</h4>
        </div>
        <div class="characteristics-health-wound__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.woundsThreshold"}}</label>
            <div>
            <input id="characteristic-health-rating-wounds" class="input__circle-input--centered"
                name="system.characteristics.health.woundThreshold"
                value="{{actor.system.characteristics.health.woundThreshold}}">
                </div>
        </div>
        <div class="characteristics-health-unconscious__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.unconsciousThresholdShort"}}</label>
            <div>
            <input id="characteristic-health-rating-unconscious" class="input__circle-input--centered"
                name="system.characteristics.health.unconscious"
                value="{{actor.system.characteristics.health.unconscious}}">
                </div>
        </div>
        <div class="characteristics-health-death__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.deathThesholdShort"}}</label>
            <div>
            <input id="characteristic-health-rating-death" class="input__circle-input--centered"
                name="system.characteristics.health.death" value="{{actor.system.characteristics.health.death}}">
                </div>
        </div>

        <!-- GRID - Armor -->
        <div class="characteristics-armor-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.armor"}}</h4>
        </div>
        <div class="characteristics-armor-physical__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.physicalArmor"}}</label>
            <div>
            <input id="characteristic-armor-physical" class="input__circle-input--centered"
                name="system.characteristics.armor.physical.value"
                value="{{actor.system.characteristics.armor.physical.value}}">
                </div>
        </div>
        <div class="characteristics-armor-mystical__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.mysticalArmor"}}</label>
            <div>
            <input id="characteristic-armor-mystic" class="input__circle-input--centered"
                name="system.characteristics.armor.mystical.value"
                value="{{actor.system.characteristics.armor.mystical.value}}">
                </div>
        </div>

        <!-- GRID - Movement -->
        <div class="characteristics-movement-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.movement"}}</h4>
        </div>
        <div class="characteristics-movement__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.walkMovement"}}</label>
            <div>
            <input id="characteristic-movement-run" class="input__circle-input--centered"
                name="system.characteristics.movement.walk" value="{{actor.system.characteristics.movement.walk}}">
                </div>
        </div>

        <!-- GRID - Damage -->
        <div class="characteristics-damage-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.damage"}}</h4>
        </div>
        <div class="characteristics-damage-damage__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.currentDamage"}}</label>
            <div>
            <input id="characteristic-damage" class="input__circle-input--centered"
                name="system.characteristics.health.damage.standard"
                value="{{actor.system.characteristics.health.damage.standard}}"
                title="{{localize "ED.Actor.Tooltips.damagePhysical"}}" editable>

                <input id="characteristic-damage" class="input__circle-input--centered"
                name="system.characteristics.health.damage.stun"
                value="{{actor.system.characteristics.health.damage.stun}}"
                title="{{localize "ED.Actor.Tooltips.damageSubdual"}}"
                editable>
                <input id="characteristic-damage" class="input__circle-input--centered"
                name="system.characteristics.health.damage.total"
                value="{{actor.system.characteristics.health.damage.total}}"
                title="{{localize "ED.Actor.Tooltips.damageSubdual"}}: {{actor.system.characteristics.health.damage.stun}} / {{localize "ED.Actor.Tooltips.damagePhysical"}}: {{actor.system.characteristics.health.damage.total}}" editable>
                </div>

        </div>
        <div class="characteristics-damage-wounds__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.woundsDamage"}}</label>
            <div>
            <input id="characteristic-wounds" class="input__circle-input--centered"
                name="system.characteristics.health.wounds" value="{{actor.system.characteristics.health.wounds}}" editable>
                </div>
        </div>

        <!-- GRID - Recovery -->
        <div class="characteristics-recovery-header__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.recovery"}}</h4>
        </div>
        <div class="characteristics-recovery__grid-item">
            <label class="">{{localize "ED.Actor.Characteristics.currentRecoveryTests"}}/{{localize
                "ED.Actor.Characteristics.dailyRecoveryTests"}}</label>
            <div>
                <input id="characteristic-recovery-current" class="input__circle-input--centered"
                    name="system.characteristics.recoveryTestsRecource.value"
                    value="{{actor.system.characteristics.recoveryTestsRecource.value}}" editable>
                <input id="characteristic-recovery-daily" class="input__circle-input--centered"
                    name="system.characteristics.recoveryTestsRecource.max"
                    value="{{actor.system.characteristics.recoveryTestsRecource.max}}">
            </div>

        </div>



























        {{!-- <div class="characteristics-defenses__grid-item">

            <div class="input--centered ">
                <input id="characteristic-defense-physcial" class="input__circle-input--centered"
                    name="system.characteristics.defenses.physical.value"
                    value="{{actor.system.characteristics.defenses.physical.value}}">
            </div>
            <div class="input--centered ">
                <input id="characteristic-defense-mystical" class="input__circle-input--centered"
                    name="system.characteristics.defenses.mystical.value"
                    value="{{actor.system.characteristics.defenses.mystical.value}}">
            </div>
            <div class="input--centered ">
                <input id="characteristic-defense-social" class="input__circle-input--centered"
                    name="system.characteristics.defenses.social.value"
                    value="{{actor.system.characteristics.defenses.social.value}}">
            </div>
        </div> --}}




        {{!-- <div class="characteristics-health__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.healthRating"}}</h4>
            <div class="input--centered">
                <label class="">{{localize "ED.Actor.Characteristics.woundsThreshold"}}</label>
                <label class="">{{localize
                    "ED.Actor.Characteristics.unconsciousThresholdShort"}}</label>
                <label class="">{{localize "ED.Actor.Characteristics.deathThesholdShort"}}</label>
            </div>
            <div class="input--centered ">
                <input id="characteristic-health-rating-wounds" class="input__circle-input--centered"
                    name="system.characteristics.health.woundThreshold"
                    value="{{actor.system.characteristics.health.woundThreshold}}">
            </div>
            <div class="input--centered ">
                <input id="characteristic-health-rating-unconscious" class="input__circle-input--centered"
                    name="system.characteristics.health.unconscious"
                    value="{{actor.system.characteristics.health.unconscious}}">
            </div>
            <div class="input--centered ">
                <input id="characteristic-health-rating-death" class="input__circle-input--centered"
                    name="system.characteristics.health.death" value="{{actor.system.characteristics.health.death}}">
            </div>
        </div>
        <div class="characteristics-armor__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.armor"}}</h4>
            <div class="input--centered">
                <label class="">{{localize "ED.Actor.Characteristics.physicalArmor"}}</label>
                <label class="">{{localize "ED.Actor.Characteristics.mysticalArmor"}}</label>
            </div>
            <div class="input--centered ">
                <input id="characteristic-armor-physical" class="input__circle-input--centered"
                    name="system.characteristics.armor.physical.value"
                    value="{{actor.system.characteristics.armor.physical.value}}">
            </div>
            <div class="input--centered ">
                <input id="characteristic-armor-mystic" class="input__circle-input--centered"
                    name="system.characteristics.armor.mystical.value"
                    value="{{actor.system.characteristics.armor.mystical.value}}">
            </div>
        </div>
        <div class="characteristics-movement__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.movement"}}
                <a class="fas fa-cogs" title="other movement types inside a pop up"></a>
            </h4>
            <div class="input--centered">
                <label>{{localize "ED.Actor.Characteristics.walkMovement"}}</label>
                {{!-- <label class="partial__four">{{localize "ED.Actor.Characteristics.runMovement"}}</label>
                <label class="partial__four">{{localize "ED.Actor.Characteristics.mountMovement"}}</label>
                <label class="partial__four">{{localize "ED.Actor.Characteristics.Movement"}}</label> --}}
                {{!--
            </div>
            <div class="input--centered">
                <input id="characteristic-movement-run" class="input__circle-input--centered"
                    name="system.characteristics.movement.walk" value="{{actor.system.characteristics.movement.walk}}">
            </div>
        </div>
        <div class="characteristics-damage__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.damage"}}
                <a class="fas fa-cogs" title="a prompt will show option for Blood magic"></a>
            </h4>
            <div class="input--centered">
                <label class="">{{localize "ED.Actor.Characteristics.currentDamage"}}</label>
                <label class="">{{localize "ED.Actor.Characteristics.woundsDamage"}}</label>
            </div>
            <div class="input--centered ">
                <input id="characteristic-damage" class="input__circle-input--centered"
                    name="system.characteristics.health.damage.total"
                    value="{{actor.system.characteristics.health.damage.total}}">
            </div>
            <div class="input--centered ">
                <input id="characteristic-wounds" class="input__circle-input--centered"
                    name="system.characteristics.health.wounds" value="{{actor.system.characteristics.health.wounds}}">
            </div>
        </div>
        <div class="characteristics-recovery__grid-item">
            <h4 class="header--centered">{{localize "ED.Actor.Header.recovery"}}
                <a class="fas fa-medkit" title="take a rest"></a>
            </h4>
            <div class="input--centered">
                <label class="">{{localize "ED.Actor.Characteristics.currentRecoveryTests"}}
                </label>
                <label class="">{{localize "ED.Actor.Characteristics.dailyRecoveryTests"}}</label>
            </div>
            <div class="input--centered ">
                <input id="characteristic-recovery-current" class="input__circle-input--centered"
                    name="system.characteristics.recoveryTestsRecource.value"
                    value="{{actor.system.characteristics.recoveryTestsRecource.value}}">
            </div>
            <div class="input--centered ">
                <input id="characteristic-recovery-daily" class="input__circle-input--centered"
                    name="system.characteristics.recoveryTestsRecource.max"
                    value="{{actor.system.characteristics.recoveryTestsRecource.max}}">
            </div>
        </div>
    </div>
</div> --}}



{{!--
<div class="actor__image">
    <img class="" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
</div>
<div class="actor__characteristics">
    <div class="">
        <div class="padding__top-small">
            <div id="characteristics-defenses" class="">

                <h4 class="header--centered">{{localize "ED.Actor.Header.defenses"}}</h4>
                <div class="input--centered">
                    <label class="">{{localize "ED.Actor.Characteristics.physicalDefense"}}</label>
                    <label class="">{{localize "ED.Actor.Characteristics.mysticalDefense"}}</label>
                    <label class="">{{localize "ED.Actor.Characteristics.socialDefense"}}</label>
                </div>
                <div class="input--centered ">
                    <input id="characteristic-defense-physcial" class="input__circle-input--centered"
                        name="system.characteristics.defenses.physical.value"
                        value="{{actor.system.characteristics.defenses.physical.value}}">
                </div>
                <div class="input--centered ">
                    <input id="characteristic-defense-mystical" class="input__circle-input--centered"
                        name="system.characteristics.defenses.mystical.value"
                        value="{{actor.system.characteristics.defenses.mystical.value}}">
                </div>
                <div class="input--centered ">
                    <input id="characteristic-defense-social" class="input__circle-input--centered"
                        name="system.characteristics.defenses.social.value"
                        value="{{actor.system.characteristics.defenses.social.value}}">
                </div>
            </div>
            <div id="characteristics-health-rating" class="">
                <h4 class="header--centered">{{localize "ED.Actor.Header.healthRating"}}</h4>
                <div class="input--centered">
                    <label class="">{{localize "ED.Actor.Characteristics.woundsThreshold"}}</label>
                    <label class="">{{localize
                        "ED.Actor.Characteristics.unconsciousThresholdShort"}}</label>
                    <label class="">{{localize "ED.Actor.Characteristics.deathThesholdShort"}}</label>
                </div>
                <div class="input--centered ">
                    <input id="characteristic-health-rating-wounds" class="input__circle-input--centered"
                        name="system.characteristics.health.woundThreshold"
                        value="{{actor.system.characteristics.health.woundThreshold}}">
                </div>
                <div class="input--centered ">
                    <input id="characteristic-health-rating-unconscious" class="input__circle-input--centered"
                        name="system.characteristics.health.unconscious"
                        value="{{actor.system.characteristics.health.unconscious}}">
                </div>
                <div class="input--centered ">
                    <input id="characteristic-health-rating-death" class="input__circle-input--centered"
                        name="system.characteristics.health.death"
                        value="{{actor.system.characteristics.health.death}}">
                </div>
            </div>
        </div>

        <div class="padding__top-small">
            <div id="characteristics-armor" class="partial__four">
                <h4 class="header--centered">{{localize "ED.Actor.Header.armor"}}</h4>
                <div class="input--centered">
                    <label class="">{{localize "ED.Actor.Characteristics.physicalArmor"}}</label>
                    <label class="">{{localize "ED.Actor.Characteristics.mysticalArmor"}}</label>
                </div>
                <div class="input--centered ">
                    <input id="characteristic-armor-physical" class="input__circle-input--centered"
                        name="system.characteristics.armor.physical.value"
                        value="{{actor.system.characteristics.armor.physical.value}}">
                </div>
                <div class="input--centered ">
                    <input id="characteristic-armor-mystic" class="input__circle-input--centered"
                        name="system.characteristics.armor.mystical.value"
                        value="{{actor.system.characteristics.armor.mystical.value}}">
                </div>
            </div>

            <div id="characteristics-damage" class="partial__four">
                <h4 class="header--centered">{{localize "ED.Actor.Header.movement"}}
                    <a class="fas fa-cogs" title="other movement types inside a pop up"></a>
                </h4>
                <div class="input--centered">
                    <label>{{localize "ED.Actor.Characteristics.walkMovement"}}</label>
                    {{!-- <label class="partial__four">{{localize "ED.Actor.Characteristics.runMovement"}}</label>
                    <label class="partial__four">{{localize "ED.Actor.Characteristics.mountMovement"}}</label>
                    <label class="partial__four">{{localize "ED.Actor.Characteristics.Movement"}}</label>
                </div>
                <div class="input--centered">
                    <input id="characteristic-movement-run" class="input__circle-input--centered"
                        name="system.characteristics.movement.walk"
                        value="{{actor.system.characteristics.movement.walk}}">
                </div>


                the movement types shall be configurable by pressing the cogs button
                <div class="input--centered partial__four">
                    <input id="characteristic-movement-run" class="input__circle-input--centered">
                </div>
                <div class="input--centered partial__four">
                    <input id="characteristic-movement-fly" class="input__circle-input--centered">
                </div>
                <div class="input--centered partial__four">
                    <input id="characteristic-movement-mount" class="input__circle-input--centered">
                </div>
            </div>
            <div id="characteristics-damage" class="partial__four">
                <h4 class="header--centered">{{localize "ED.Actor.Header.damage"}}
                    <a class="fas fa-cogs" title="a prompt will show option for Blood magic"></a>
                </h4>
                <div class="input--centered">
                    <label class="">{{localize "ED.Actor.Characteristics.currentDamage"}}</label>
                    <label class="">{{localize "ED.Actor.Characteristics.woundsDamage"}}</label>
                </div>
                <div class="input--centered ">
                    <input id="characteristic-damage" class="input__circle-input--centered"
                        name="system.characteristics.health.damage.total"
                        value="{{actor.system.characteristics.health.damage.total}}">
                </div>
                <div class="input--centered ">
                    <input id="characteristic-wounds" class="input__circle-input--centered"
                        name="system.characteristics.health.wounds"
                        value="{{actor.system.characteristics.health.wounds}}">
                </div>
            </div>
            <div id="characteristics-damage" class="partial__four">
                <h4 class="header--centered">{{localize "ED.Actor.Header.recovery"}}
                    <a class="fas fa-medkit" title="take a rest"></a>
                </h4>
                <div class="input--centered">
                    <label class="">{{localize "ED.Actor.Characteristics.currentRecoveryTests"}}
                    </label>
                    <label class="">{{localize "ED.Actor.Characteristics.dailyRecoveryTests"}}</label>
                </div>
                <div class="input--centered ">
                    <input id="characteristic-recovery-current" class="input__circle-input--centered"
                        name="system.characteristics.recoveryTestsRecource.value"
                        value="{{actor.system.characteristics.recoveryTestsRecource.value}}">
                </div>
                <div class="input--centered ">
                    <input id="characteristic-recovery-daily" class="input__circle-input--centered"
                        name="system.characteristics.recoveryTestsRecource.max"
                        value="{{actor.system.characteristics.recoveryTestsRecource.max}}">
                </div>
            </div>
        </div>
    </div>
</div> --}}