{{!-- Attacks --}}
<div class="power-card__grid--container font__bold text-break__auto">
    <div class="power-card__grid--item text__alignment--center"></div>
    <div class="power-card__grid--item"><h3 class="font__bold font__no-underline">{{localize "ED.Actor.Header.attacks"}}</h3></div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.action"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.step"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.damage"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.strain"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
</div>
{{#each actor.itemTypes.attack}}
    {{> "systems/ed4e/templates/actor/cards/power-card.hbs"}}
{{/each}}

{{!-- Powers --}}
<div class="power-card__grid--container font__bold text-break__auto">
    <div class="power-card__grid--item text__alignment--center"></div>
    <div class="power-card__grid--item"><h3 class="font__bold font__no-underline">{{localize "ED.Actor.Header.powers"}}</h3></div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.action"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.step"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.damage"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.strain"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
</div>
{{#each actor.itemTypes.power}}
    {{> "systems/ed4e/templates/actor/cards/power-card.hbs"}}
{{/each}}

{{!-- Maneuvers --}}
<div class="power-card__grid--container font__bold text-break__auto">
    <div class="power-card__grid--item text__alignment--center"></div>
    <div class="power-card__grid--item"><h3 class="font__bold font__no-underline">{{localize "ED.Actor.Header.maneuvers"}}</h3></div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.extraSuccesses"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.step"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.damage"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.strain"}}</div>
    <div class="power-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
</div>
{{#each actor.itemTypes.maneuver}}
    {{> "systems/ed4e/templates/actor/cards/maneuver-card.hbs"}}
{{/each}}