<h5 class="roll-type">{{localize "ED.Rolls.Chat.rollTypeHeading" rollType=rollType roller=roller}}</h5>
<div class="custom-flavor">{{ customFlavor }}</div>
<div class="flexrow message-buttons effect-roll-buttons" data-roll-total={{ result }}>
  <button type="button" class="effect-button" title={{ localize "X.Interesting" }} data-action="apply-damage">{{ localize "ED.Rolls.Chat.buttonEffect" }}</button>
</div>
<div class="modifier-lists flexrow">
  {{> "systems/ed4e/templates/dice/dice-partials/roll-step-modifier.hbs"}}
</div>