<form>
  <img src="systems/ed4e/assets/foundry/background-vasgothia-top-frame-small.png">
  <div>
    <label> 'X-LPAmount' </label>
    <input type='number' name="amount" value="{{object.amount}}"></input>
  </div>
  <div>
    <label> 'X-Description'</label>
    <input type='string' name="description" value="{{object.description}}"></input>
  </div>

  <div>
    <multi-checkbox name="selectedActors" value="{{object.selectedActors}}">
      <optgroup label="{{localize "ED.Header.activeUser"}}">
        {{#each actorUserActive}}
          <option value="{{checked this.actorId}}">{{this.actorName}} / {{this.playerName}}</option>
        {{/each}}
      </optgroup>
      <optgroup label="{{localize "ED.Header.inactiveUser"}}">
        {{#each actorUserInactive}}
          <option value="{{this.actorId}}">{{this.actorName}} / {{this.playerName}}</option>
        {{/each}}
      </optgroup>
      <optgroup label="{{localize "ED.Header.actorsNoUserConfigured"}}">
        {{#each actorsNoUserConfigured}}
          <option value="{{this.actorId}}">{{this.actorName}}</option>
        {{/each}}
      </optgroup>
    </multi-checkbox>
  </div>


  <!-- Buttons -->
  <div class="buttons legend-point__history--earned-buttons flexcol">
    <div class="button-group buttons-navigation flexrow">
      <button class='ok default button-ok' type="confirm" name="confirm" data-button='ok'>
        {{ localize 'X-ok' }}
      </button>
      <button class='cancel button-cancel' type="button" name="cancel" data-button='cancel'>
        {{ localize 'X-cancel' }}
      </button>
    </div>
  </div>
  <img src="systems/ed4e/assets/foundry/background-vasgothia-top-frame-small.png">
</form>