<form class="jump-up flexcol" id="jump-up-form" autocomplete="off">
    <!-- Buttons -->
    <div>
        <label class="jump-up__label">{{localize "ED.Dialogs.jumpUpChoice"}}</label>
    </div>
    <div class="buttons jump-up__buttons flexcol">
        {{#each actor as |item|}}
            {{#if (eq item.system.edid "jump-up")}}
            {{log this}}
            <div class="jump-up-item">
                <button class="{{item.name}}" type="button" name="{{item.name}}" data-button="{{item.id}}">
                    {{item.name}}
                </button>
            </div>
            {{/if}}
        {{/each}}
        <div class="button-group flexrow">
            <button class='cancel default button-cancel' type="cancel" name="cancel" data-button='cancel'>
                {{ localize "ED.Dialogs.Buttons.cancel" }}
            </button>
        </div>
    </div>
</form>