<form class="knock-down flexcol" id="knock-down-form" autocomplete="off">

    <!-- Header -->
    {{!-- <div class="header-item__frame">
        <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
    </div> --}}

    <!-- Buttons -->
    <div>
        <label class="knock-down__label">{{localize "ED.Dialogs.knockDownChoice"}}</label>
    </div>

    <div class="buttons knock-down__buttons flexcol">
        {{#each actor as |item|}}
            {{#if (eq item.system.edid "knock-down")}}
            {{log this}}
            <div class="knock-down-item">
                <button class="{{item.name}}" type="button" name="{{item.name}}" data-button="{{item.name}}">
                    {{item.name}}
                </button>
            </div>
            {{/if}}
        {{/each}}
        <div class="button-group flexrow">
            <button class='cancel default button-cancel' type="cancel" name="cancel" data-button='cancel'>
                {{ localize "ED.Dialogs.Buttons.cancel" }}
            </button>
        </div>
    </div>

    <!-- Footer -->
    {{!-- <div class="footer-item__frame">
        <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
    </div> --}}

</form>