<div>

  <fieldset>
    <legend>{{localize "ED.Dialogs.damage"}}</legend>
    {{formGroup damage name="damage" localize=true}}
    {{formGroup damageType name="damageType" localize=true}}
  </fieldset>

  <fieldset>
    <legend>{{localize "ED.Dialogs.armor"}}</legend>
    {{formGroup armorType name="armorType" localize=true}}
    {{formGroup ignoreArmor name="ignoreArmor" localize=true}}
  </fieldset>

</div>