<div class="tab earned-tab" data-group="primary" data-tab="earned-tab">
  <!-- Body -->
  <div class="lp-history__earned">
    <i class="fas fa-plus-circle add-earning-icon"></i> <!-- Add this line for the "+" icon -->
    <table class="input--centered">
      <thead>
        <tr>
          <th>
            {{localize "ED.Actor.LpTracking.Header.date"}}
          </th>
          <th>
            {{localize "ED.Actor.LpTracking.Header.description"}}
          </th>
          <th>
            {{localize "ED.Actor.LpTracking.Header.legendPoints"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.object.earnings}}
        <tr>
          <td>
            <input name={{concat "earnings." @index ".date"}} type="text" value="{{formatDate this.date}}" data-dtype="String"/>
          </td>
          <td>
            <input name={{concat "earnings." @index ".description"}} type="text" value="{{this.description}}" data-dtype="String" data-transaction-index="{{@index}}" />
          </td>
          <td>
            <input name={{concat "earnings." @index ".amount"}} type="number" value="{{this.amount}}" data-dtype="Number" />
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>
