<div class="tab earned-tab" data-group="primary" data-tab="earned-tab">
  <!-- Body -->
  <div class="lp-history__earned-body">
    <label>{{localize "X-Total LP"}}</label>
    <input class="input__number-input--wide" name="this.object.system.lp.total" type="text" value="{{this.object.system.lp.total}}" data-dtype="String" />
    <table class="input--centered">
      <thead>
        <tr>
          <th>
            {{localize "X-Date"}}
          </th>
          <th>
            {{localize "X-Description"}}
          </th>
          <th>
            {{localize "X-LP"}}
          </th>
          <th>
            {{localize "X-Editors"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.object.system.lp.earnings as | this key | }}
        <tr>
          <td>
            <input class="" name="date" type="text" value="{{this.date}}" data-dtype="String" />
          </td>
          <td>
            <input class="" name="description" type="text" value="{{this.description}}" data-dtype="String" />
          </td>
          <td>
            <input class="" name="amount" type="text" value="{{this.amount}}" data-dtype="String" />
          </td>
          <td><a class="item-control item-display" title="Display Item">
              <i class="fas fa-comments"></i>
            </a>
            <a class="item-control item-delete" title="Delete Item">
              <i class="fas fa-trash"></i>
            </a>
            <a class="item-control item-edit" title="Edit Item">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>