<div>
    <h3>Legend Point Tracking</h3>
    <div>
        <h4>
            Legend Points and Status
        </h4>
        <table>
            <tr>
                <th>Current LP</th>
                <th>spend LP</th>
                <th>total LP</th>
                <th>Legend Status</th>
            </tr>
            <tr>
                <td>
                    <input class="input__number-input" type="text" name="system.legendPoints.current" value="{{actor.system.legendPoints.current}}">
                </td>
                <td>
                    <input class="input__number-input" type="text" name="system.legendPoints.spend" value="{{actor.system.legendPoints.spend}}">
                </td>
                <td>
                    <input class="input__number-input" type="text" name="system.legendPoints.total" value="{{actor.system.legendPoints.total}}">
                </td>
                <td>
                    <input class="input__number-input" type="text" name="system.legendPoints.status" value="{{actor.system.legendPoints.status}}">
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h4>
            Attributes
        </h4>
        <div>
            <table>
                <tr>
                    <th>
                        Attribute
                    </th>
                    <th>
                        steigerung
                    </th>
                </tr>
                <tr>
                    <td class="attribute__name--content">
                        <a>
                            <label>{{localize "ED.Attributes.dexterity"}}</label>
                        </a>
                    </td>
                    <td>
                        <input class="input__number-input" type="text" name="system.attributes.dex.timesIncreased"
                            value="{{actor.system.attributes.dex.timesIncreased}}">
                    </td>
                </tr>
                <tr>
                    <td class="attribute__name--content">
                        <a>
                            <label>{{localize "ED.Attributes.strength"}}</label>
                        </a>
                    </td>
                    <td>
                        <input class="input__number-input" type="text" name="system.attributes.str.timesIncreased"
                            value="{{actor.system.attributes.str.timesIncreased}}">
                    </td>
                </tr>
                <tr>
                    <td class="attribute__name--content">
                        <a>
                            <label>{{localize "ED.Attributes.toughness"}}</label>
                        </a>
                    </td>
                    <td>
                        <input class="input__number-input" type="text" name="system.attributes.tou.timesIncreased"
                            value="{{actor.system.attributes.tou.timesIncreased}}">
                    </td>
                </tr>
                <tr>
                    <td class="attribute__name--content">
                        <a>
                            <label>{{localize "ED.Attributes.perception"}}</label>
                        </a>
                    </td>
                    <td>
                        <input class="input__number-input" type="text" name="system.attributes.per.timesIncreased"
                            value="{{actor.system.attributes.per.timesIncreased}}">
                    </td>
                </tr>
                <tr>
                    <td class="attribute__name--content">
                        <a>
                            <label>{{localize "ED.Attributes.willpower"}}</label>
                        </a>
                    </td>
                    <td>
                        <input class="input__number-input" type="text" name="system.attributes.wil.timesIncreased"
                            value="{{actor.system.attributes.wil.timesIncreased}}">
                    </td>
                </tr>
                <tr>
                    <td class="attribute__name--content">
                        <a>
                            <label>{{localize "ED.Attributes.charisma"}}</label>
                        </a>
                    </td>
                    <td>
                        <input class="input__number-input" type="text" name="system.attributes.cha.timesIncreased"
                            value="{{actor.system.attributes.cha.timesIncreased}}">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>