<div class="details__area left-part">
    {{!-- Attribute --}}
    <div>
        <h4>
            <label class="character__attribute">{{localize "ED.Attributes.attributes"}}</label>
            <a class="icon__position--right fa-regular fa-circle-up" title="{{localize "
                ED.LpTracking.attributeImprovement"}}"></a>
        </h4>
        <table class="table__attribute">
            <tr>
                <th class="text__alignment--left">{{localize "ED.Attributes.attribute"}}</th>
                <th class="text__alignment--left">{{localize "ED.General.value"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.step"}}</th>
                <th class="text__alignment--center">Inc weg!</th>
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.dexterity"}}</label>
                        <img class="image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">
                            <input class="input__number-input" type="number" name="system.attributes.dex.value"
                                value="{{actor.system.attributes.dex.value}}">
                        </span>
                        {{#if (eq actor.system.attributes.dex.timesIncreased 1)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.dex.timesIncreased 2)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.dex.timesIncreased 3)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                        {{/if}}
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">
                            <input class="input__number-input" type="number" name="system.attributes.dex.step"
                                value="{{actor.system.attributes.dex.baseStep}}" readonly>
                        </span>
                    </div>
                </td>
                {{!-- <td>
                    <input class="input__number-input" type="text" name="system.attributes.dex.timesIncreased"
                        value="{{actor.system.attributes.dex.timesIncreased}}">
                </td> --}}
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.strength"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">
                            <input class="input__number-input" type="number" name="system.attributes.str.value"
                                value="{{actor.system.attributes.str.value}}">
                        </span>
                        {{#if (eq actor.system.attributes.str.timesIncreased 1)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.str.timesIncreased 2)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.str.timesIncreased 3)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                        {{/if}}
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">
                            <input class="input__number-input" type="number" name="system.attributes.str.step"
                                value="{{actor.system.attributes.str.baseStep}}" readonly>
                        </span>
                    </div>
                </td>
                {{!-- <td>
                    <input class="input__number-input" type="text" name="system.attributes.str.timesIncreased"
                        value="{{actor.system.attributes.str.timesIncreased}}">
                </td> --}}
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.toughness"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">
                            <input class="input__number-input" type="number" name="system.attributes.tou.value"
                                value="{{actor.system.attributes.tou.value}}">
                        </span>
                        {{#if (eq actor.system.attributes.tou.timesIncreased 1)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.tou.timesIncreased 2)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.tou.timesIncreased 3)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                        {{/if}}
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">
                            <input class="input__number-input" type="number" name="system.attributes.tou.step"
                                value="{{actor.system.attributes.tou.baseStep}}" readonly>
                        </span>
                    </div>
                </td>
                {{!-- <td>
                    <input class="input__number-input" type="text" name="system.attributes.tou.timesIncreased"
                        value="{{actor.system.attributes.tou.timesIncreased}}">
                </td> --}}
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.perception"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">
                            <input class="input__number-input" type="number" name="system.attributes.per.value"
                                value="{{actor.system.attributes.per.value}}">
                        </span>
                        {{#if (eq actor.system.attributes.per.timesIncreased 1)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.per.timesIncreased 2)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.per.timesIncreased 3)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                        {{/if}}
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">
                            <input class="input__number-input" type="number" name="system.attributes.per.step"
                                value="{{actor.system.attributes.per.baseStep}}" readonly>
                        </span>
                    </div>
                </td>
                {{!-- <td>
                    <input class="input__number-input" type="text" name="system.attributes.per.timesIncreased"
                        value="{{actor.system.attributes.per.timesIncreased}}">
                </td> --}}
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.willpower"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">
                            <input class="input__number-input" type="number" name="system.attributes.wil.value"
                                value="{{actor.system.attributes.wil.value}}">
                        </span>
                        {{#if (eq actor.system.attributes.wil.timesIncreased 1)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.wil.timesIncreased 2)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.wil.timesIncreased 3)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                        {{/if}}
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">
                            <input class="input__number-input" type="number" name="system.attributes.wil.step"
                                value="{{actor.system.attributes.wil.baseStep}}" readonly>
                        </span>
                    </div>
                </td>
                {{!-- <td>
                    <input class="input__number-input" type="text" name="system.attributes.wil.timesIncreased"
                        value="{{actor.system.attributes.wil.timesIncreased}}">
                </td> --}}
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.charisma"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">
                            <input class="input__number-input" type="number" name="system.attributes.cha.value"
                                value="{{actor.system.attributes.cha.value}}">
                        </span>
                        {{#if (eq actor.system.attributes.cha.timesIncreased 1)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.cha.timesIncreased 2)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        {{/if}}
                        {{#if (eq actor.system.attributes.cha.timesIncreased 3)}}
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                        {{/if}}
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">
                            <input class="input__number-input" type="number" name="system.attributes.cha.step"
                                value="{{actor.system.attributes.cha.baseStep}}" readonly>
                        </span>
                    </div>
                </td>
                {{!-- <td>
                    <input class="input__number-input" type="text" name="system.attributes.cha.timesIncreased"
                        value="{{actor.system.attributes.cha.timesIncreased}}">
                </td> --}}
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a title="{{localize "ED.General.initiative"}}">
                        <label class="roll__step--hover">{{localize "ED.General.initiative"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td></td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">
                            <input class="input__number-input" type="number" name="system.initiative"
                                value="{{actor.system.initiative}}" readonly>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {{!-- Karma --}}
    <div class="character-karma">
        <h4>
            <label>{{localize "ED.General.karma"}}</label>
            <span class="icon__position--right">
                <input type="checkbox" class="input__checkbox karma__usage--always" name="system.useKarmaAlways"
                    {{checked actor.system.karma.useAlways}} title="{{localize " ED.General.karmaAlways"}}">
                <a class="karma__ritual">
                    <img class="karma__ritual--icon image__border--none" src="systems/ED4E/assets/icons/meditation.svg"
                        title="{{localize " ED.General.karmaRitualTooltip"}}">
                </a>
            </span>
        </h4>
        <table class="table__karma">
            <tr>
                <th class="text__alignment--left">{{localize "ED.General.current"}}</th>
                <th class="text__alignment--left">{{localize "ED.General.max"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.step"}}</th>
            </tr>
            <tr>
                <td class="karma__current--content">
                    <div>
                        <input class="input__number-input" type="number" name="system.karma.current"
                                value="{{actor.system.karma.current}}" readonly>
                    </div>
                </td>
                <td class="karma__maximum--content">
                    <div>
                        <input class="input__number-input" type="number" name="system.karma.maximum"
                                value="{{actor.system.karma.maximum}}" readonly>
                    </div>
                </td>
                <td class="karma__step--content">
                    <div>
                        <input class="input__number-input" type="number" name="system.karma.step"
                                value="{{actor.system.karma.step}}">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {{!-- Devotion --}}
    <div>
        <h4>Devotions</h4>
        <table class="table__devotion">
            <tr>
                <th class="text__alignment--left">{{localize "ED.General.current"}}</th>
                <th class="text__alignment--left">{{localize "ED.General.max"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.step"}}</th>
            </tr>
            <tr>
                <td class="devotion__current--content">
                    <div>
                        <input class="input__number-input" type="number" name="system.devotion.current"
                                value="{{actor.system.devotion.current}}">
                    </div>
                </td>
                <td class="devotion__maximum--content">
                    <div>
                        <input class="input__number-input" type="number" name="system.devotion.maximum"
                                value="{{actor.system.devotion.maximum}}" readonly>
                    </div>
                </td>
                <td class="devotion__step--content">
                    <div>
                        <input class="input__number-input" type="number" name="system.devotion.step"
                                value="{{actor.system.devotion.step}}">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
{{!-- Conditions --}}
<div class="right-part">
    <div class="partial__two">
        <h3>conditions</h3>
        <div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.aggressiveAttack"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.aggressiveAttack" {{checked
                        actor.system.condition.aggressiveAttack}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.coverPartial"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.cover.partial" {{checked
                        actor.system.condition.cover.partial}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.coverFull"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.cover.full" {{checked
                        actor.system.condition.cover.full}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.darknessPartial"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.darkness.partial" {{checked
                        actor.system.condition.darkness.partial}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.darknessFull"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.darkness.full" {{checked
                        actor.system.condition.darkness.full}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.defensiveStance"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.defensiveStance" {{checked
                        actor.system.condition.defensiveStance}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.fury"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.fury" {{checked
                        actor.system.condition.fury}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.harried"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.harried" {{checked
                        actor.system.condition.harried}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.impairedMovementPartial"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.impairedMovement.partial"
                        {{checked actor.system.condition.impairedMovement.partial}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.impairedMovementFull"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.impairedMovement.full"
                        {{checked actor.system.condition.impairedMovement.full}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.knockedDown"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.knockedDown" {{checked
                        actor.system.condition.knockedDown}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.surprised"}}</label>
                </div>
                <div class="partial__two">
                    <input type="checkbox" class="input__checkbox" name="system.condition.surprised" {{checked
                        actor.system.condition.surprised}}>
                </div>
            </div>
            <div>
                <div class="partial__two">
                    <label>{{localize "ED.Conditions.overwhelmed"}}</label>
                </div>
                <div class="partial__two">
                    <input type="Number" class="input__checkbox" name="system.condition.overwhelmed"
                        value="{{actor.system.condition.overwhelmed}}">
                </div>
            </div>
        </div>
    </div>
    <div class="partial__two">
        <h3>special abilities</h3>
        <div>
            {{#each actor.itemTypes.specialAbility}}
            {{>
            "systems/ed4e/templates/item/cards/special-ability-card.hbs"}}
            {{/each}}
        </div>
        <h3>Disciplines</h3>
        <div>
            {{#each actor.itemTypes.discipline}}
            {{>
            "systems/ed4e/templates/item/cards/discipline-card.hbs"}}
            {{/each}}
        </div>
        <h3>Paths</h3>
        <div>
            {{#each actor.itemTypes.path}}
            {{>
            "systems/ed4e/templates/item/cards/path-card.hbs"}}
            {{/each}}
        </div>
        <h3>Questor</h3>
        <div>
            {{#each actor.itemTypes.questor}}
            {{>
            "systems/ed4e/templates/item/cards/questor-card.hbs"}}
            {{/each}}
        </div>
        <h3>Namegiver</h3>
        <div >
            {{#each actor.itemTypes.namegiver}}
            {{>
            "systems/ed4e/templates/item/cards/namegiver-card.hbs"}}
            {{/each}}
        </div>
    </div>


</div>