<div>
    <p>effecte</p>
    <p>embedded items</p>
    <p>makros</p>
</div>

{{!-- 
<div class="effects space-smaller">
    <table>
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.e.effects"}}
            </div>
            <a class="effect-add align-right-button" data-type="effect" title="{{localize " earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
        <tr>
            <div class="item-name one-line__vertical-align" data-item-id="{{_id}}">

            </div>
            <div class="item-list effects-list">
                {{#each item.effects as |effects id|}}
                <div class="partial__two one-line__vertical-align">
                    <div class="item-name one-line__vertical-align" data-item-id="{{_id}}">
                    <img src="systems/ed4e/assets/icons/effect.png" data-edit="img" title="{{name}}" height="25"
                        width="25" />
                    {{name}}
                </div>

                <div class="partial__two one-line__vertical-align">
                    {{> "systems/ed4e/templates/global-templates/card-options-chat.hbs" effects}}
                </div>
                </div>
                {{/each}}
            </div>
</div>
</tr>
</table>
</div> --}}


<div class="effects space-smaller">  
            <table>
                <h3 class="headerLine">
                    <div>
                        {{localize "earthdawn.e.effects"}}
                    </div>
                    <a class="effect-add align-right-button" data-type="effect" title="{{localize "earthdawn.n.newItem" }}">
                        <I class="fas fa-plus"></I>
                    </a>
                </h3>
                <tr>
                    <div class="item-list effects-list">
                        {{#each item.effects as |effects id|}}
                        {{> "systems/ed4e/templates/item/cards/effect-card.hbs" effects }}
                        {{/each}}
                    </div>
                </tr>
            </table> 
        </div>