<select class="input__select-input" name="system.action" value="{{item.system.action}}" 
    {{#select item.system.action}}>
        <option value="none">{{localize "ED.General.none"}}</option>
        <option value="free">{{localize "ED.Action.free"}}</option>
        <option value="simple">{{localize "ED.Action.simple"}}</option>
        <option value="standard">{{localize "ED.Action.standard"}}</option>
        <option value="sustained">{{localize "ED.Action.sustained"}}</option>
    {{/select}}
</select>