<select name="system.attribute" value="{{item.system.attribute}}" 
    {{#select item.system.attribute}}>
        <option value="dexterity">{{localize "ED.Attributes.dexterity"}}</option>
        <option value="strength">{{localize "ED.Attributes.strength"}}</option>
        <option value="toughness">{{localize "ED.Attributes.toughness"}}</option>
        <option value="perception">{{localize "ED.Attributes.perception"}}</option>
        <option value="willpower">{{localize "ED.Attributes.willpower"}}</option>
        <option value="charisma">{{localize "ED.Attributes.charisma"}}</option>
    {{/select}}
</select>