<select class="input__select-input" name="system.tier" value="{{item.system.tier}}" 
    {{#select item.system.tier}}>
        <option value="everyday">{{localize "ED.Item.Availability.everyday"}}</option>
        <option value="average">{{localize "ED.Item.Availability.average"}}</option>
        <option value="unusual">{{localize "ED.Item.Availability.unusual"}}</option>
        <option value="rare">{{localize "ED.Item.Availability.rare"}}</option>
        <option value="veryRare">{{localize "ED.Item.Availability.veryRare"}}</option>
        <option value="unique">{{localize "ED.Item.Availability.unique"}}</option>
    {{/select}}
</select>