<select class="input__select-input" name="system.tier" value="{{item.system.tier}}" 
    {{#select item.system.tier}}>
        <option value="none">{{localize "ED.General.none"}}</option>
        <option value="novice">{{localize "ED.Tier.novice"}}</option>
        <option value="journeyman">{{localize "ED.Tier.journeyman"}}</option>
        <option value="warden">{{localize "ED.Tier.warden"}}</option>
        <option value="master">{{localize "ED.Tier.master"}}</option>
    {{/select}}
</select>