{{!-- 
Damage Flavor contains:
- Test result
- Button to take Damage
- Button to assign Damage to target
- Step modifieres
- Target Modifiers 
--}}
<div class="custom-flavor">{{ customFlavor }}</div>
<div class="flexrow message-buttons damage-roll-buttons" data-roll-total={{ result }}>
  <button type="button" class="apply-damage" title="{{ localize "ED.Chat.Button.applyDamageTitle" }}" data-action="apply-damage">
    {{ localize "ED.Chat.Button.applyDamage" }}
  </button>
  <button type="button" class="take-damage" title="{{ localize "ED.Chat.Button.takeDamageTitle" }}" data-action="take-damage">
    {{ localize "ED.Chat.Button.takeDamage" }}
  </button>
</div>
<div class="modifier-lists flexrow">
  {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
  {{#if target.public}}
    {{> "systems/ed4e/templates/chat/dice-partials/roll-target-modifier.hbs"}}
  {{/if}}
</div>
