<div class="advancement__level">
  <div class="item-controls flexrow">
    <a class="advancement__title class__add-level" data-type="add-class-level" title="{{localize "X-Levels"}}">
      <b>{{localize "X-Add-Level"}}</b>
      <i class="fas fa-plus"></i>
    </a>
    <!--a class="item-control item-display" title="{{localize "X-Display-Item"}}">
        <i class="fas fa-comments"></i>
      </a-->
    <a class="item-control class__delete-level text-align-middle" title="{{localize "X-Delete-Item"}}">
      <i class="fas fa-trash"></i>
    </a>
  </div>
  <section class="content flexrow">
    <div class="advancement__navigator">
      <nav class="item-advancement-tabs flexcol">
        <ul class="no-bullets">
          {{#each item.system.advancement.levels}}
            <li>
              <a data-tab="item-description-tab-{{this.level}}">
                {{localize "ED.CircleNumber" level=this.level}}
              </a>
            </li>
          {{/each}}
        </ul>
      </nav>
    </div>
    <div class="advancement__content item-advancement-body">
      {{#each item.system.advancement.levels}}
        <div class="tab item-name advancement-level" name="system.advancement.level[{{this.level}}].id"
             data-tab="item-description-tab-{{this.level}}" value="{{@index}}" data-level-index="{{@index}}"
             data-level="{{this.level}}">

          <!-- Level Number -->
          <div class="title-level-number">
            {{!--<!--input class="" name="system.advancement.levels[{{this.level}}].level" type="number"
                   value="{{this.level}}" data-dtype="Number" /-->--}}
            {{!--numberInput this.level name=(concat "system.advancement.levels[" this.level "].level") step=1 min=1--}}
            {{localize "ED.Circle"}}&nbsp;{{this.level}}
          </div>

          <!-- Tier -->
          <p class="flexrow">
            <label>{{localize "X-Tier"}}</label>
            <span>
              <select class="" name="system.advancement.levels[{{@index}}].tier" type="text" value="{{this.tier}}"
                      data-dtype="String">
                <option value="">{{localize "ED.General.none"}}</option>
                {{selectOptions ../config.tier selected=this.tier sort=false}}
              </select>
            </span>
          </p>

          <!-- Resource Step -->
          <div class="resource-step">
            <p class="flexrow">
              <label>{{localize "X-Resource Step"}}</label>
              <span>
                {{numberInput this.level name=(concat "system.advancement.levels[" this.level "].resourceStep") step=1
                              min=1}}
              </span>
            </p>
          </div>

          <!-- Class Talents -->
          <div class="class-abilities">
            <p class="flexrow">
              <label>{{localize "X-Talents"}}</label>
              <span class="abilities-list abilities-pool class-pool" data-drop-function="abilities-pool" data-pool-type="class">
                {{#each this.abilities.class}}
                  <a class="content-link" draggable="true" data-uuid="{{concat "Item." this}}"
                     data-id="{{this}}" data-type="Item" {{!--data-tooltip="{{../../item.tooltip}}"--}}>
                  <i class="fas fa-suitcase"></i>
                    {{this}}
                </a>
                {{else}}
                  {{localize
                    "X-No abilities added yet. You can do it by just dragging and dropping them onto this field"}}
                {{/each}}
              </span>
            </p>
          </div>

          <!-- Free Abilities -->
          <div class="free-abilities">
            <p class="flexrow">
              <label>{{localize "X-Free Abilities"}}</label>
              <span class="abilities-list abilities-pool" data-drop-function="abilities-pool" data-pool-type="free">
                {{#each this.abilities.free}}
                  <a class="content-link" draggable="true" data-uuid="{{concat "Item." this}}"
                     data-id="{{../../item.id}}" data-type="Item" data-tooltip="{{../../item.tooltip}}">
                <i class="fas fa-suitcase"></i>
                    {{this}}
              </a>
                {{else}}
                  {{localize
                    "X-No abilities added yet. You can do it by just dragging and dropping them onto this field"}}
                {{/each}}
              </span>
            </p>
          </div>

          <!-- Special Abilities -->
          <div class="special-abilities">
            <p class="flexrow">
              <label>{{localize "X-Special Abilities"}}</label>
              <span class="abilities-list abilities-pool" data-drop-function="abilities-pool" data-pool-type="special">
                {{#each this.abilities.special}}
                  <a class="content-link" draggable="true" data-uuid="{{concat "Item." this}}"
                     data-id="{{../../item.id}}" data-type="Item" data-tooltip="{{../../item.tooltip}}">
                  <i class="fas fa-suitcase"></i>
                    {{this}}
                  </a>
                {{else}}
                  {{localize
                    "X-No abilities added yet. You can do it by just dragging and dropping them onto this field"}}
                {{/each}}
              </span>
            </p>
          </div>

          <!-- Effects -->
          <div class="class-effects">
            <p class="flexrow">
              <label>{{localize "X-Effects"}}</label>
              <span class="abilities-list effect-pool">
                {{#each this.effects}}
                  <a class="content-link" draggable="true" data-uuid="{{../../item.uuid}}"
                     data-id="{{../../item.id}}" data-type="Item" data-tooltip="{{../../item.tooltip}}">
                  <i class="fas fa-suitcase"></i>
                    {{this}}
                  </a>
                {{else}}
                  {{localize "X-No abilities added yet. You can do it by just dragging and dropping them onto this field"}}
                {{/each}}
              </span>
            </p>
          </div>
        </div>
      {{else}}
        {{localize "X-No levels added yet. Click the plus sign above to add some. Go ahead, just try. You can do it!"}}
      {{/each}}
    </div>
  </section>
</div>