<div>
    {{!-- Attribute --}}
    <div>
        <h4>
            <label class="character__attribute">{{localize "ED.Attributes.attributes"}}</label>
            <a class="icon__position--right fa-regular fa-circle-up" title="{{localize "ED.LpTracking.attributeImprovement"}}"></a>
        </h4>
        <table class="table__attribute">
            <tr>
                <th class="text__alignment--left">{{localize "ED.Attributes.attribute"}}</th>
                <th class="text__alignment--left">{{localize "ED.General.value"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.step"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.die"}}</th>
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a  title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.STR"}}</label>
                        <img class="image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">
                            <input class="input__number-input" type="number" name="system.attributes.str.value" value="{{actor.system.attributes.str.value}}">
                        </span>
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">{{system.attribute.str.step}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a  title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.DEX"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">10{{system.attributes.cha.value}}</span>
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">5{{attribute.dexterity.step}}</span>
                    </div>
                </td>
                <td class="attribute__dice--content">
                    <div>
                        <span class="attribute__dice">w20{{attribute.dexterity.dice}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a  title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.CON"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">10{{attribute.constitution.value}}</span>
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">5{{attribute.constitution.step}}</span>
                    </div>
                </td>
                <td class="attribute__dice--content">
                    <div>
                        <span class="attribute__dice">w8{{attribute.constitution.dice}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a  title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.PER"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">10{{attribute.perception.value}}</span>
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">5{{attribute.perception.step}}</span>
                    </div>
                </td>
                <td class="attribute__dice--content">
                    <div>
                        <span class="attribute__dice">w8{{attribute.perception.dice}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a  title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.WIL"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">10{{attribute.willpower.value}}</span>
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">5{{attribute.willpower.step}}</span>
                    </div>
                </td>
                <td class="attribute__dice--content">
                    <div>
                        <span class="attribute__dice">w8{{attribute.willpower.dice}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="attribute__name--content">
                    <a  title="{{localize "ED.Attributes.rollAttribute"}}">
                        <label class="roll__step--hover">{{localize "ED.Attributes.CHA"}}</label>
                        <img class="fixed-height4 image__border--none roll__icon" src="icons/svg/d20-grey.svg">
                    </a>
                </td>
                <td class="attribute__value--content">
                    <div>
                        <span class="attribute__value">10{{attribute.charisma.value}}</span>
                        <i class="enhancemente-1 fa fa-star"></i>
                        <i class="enhancemente-2 fa fa-star"></i>
                        <i class="enhancemente-3 fa fa-star"></i>
                    </div>
                </td>
                <td class="attribute__step--content">
                    <div>
                        <span class="attribute__step">5{{attribute.charisma.step}}</span>
                    </div>
                </td>
                <td class="attribute__dice--content">
                    <div>
                        <span class="attribute__dice">w8{{attribute.charisma.dice}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {{!-- Karma --}}
    <div class="character-karma">
        <h4>
            <label>{{localize "ED.General.karma"}}</label>
            <span class="icon__position--right">
                <input type="checkbox" class="input__checkbox karma__usage--always" name="" value="" title="{{localize "ED.General.karmaAlways"}}">
                <a class="karma__ritual">
                    <img class="karma__ritual--icon image__border--none" src="systems/ed4e/assets/icons/meditation.svg" title="{{localize "ED.General.karmaRitualTooltip"}}">
                </a>
            </span>
        </h4>
        <table class="table__karma">
            <tr>
                <th class="text__alignment--left">{{localize "ED.General.current"}}</th>
                <th class="text__alignment--left">{{localize "ED.General.max"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.step"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.dice"}}</th>
            </tr>
            <tr>
                <td class="karma__current--content">
                    <div>
                        <span class="karma__step">5{{karma.current}}</span>
                    </div>
                </td>
                <td class="karma__maximum--content">
                    <div>
                        <span class="karma__dice">10{{karma.maximum}}</span>
                    </div>
                </td>
                <td class="karma__step--content">
                    <div>
                        <span class="karma__step">5{{karma.step}}</span>
                    </div>
                </td>
                <td class="karma__dice--content">
                    <div>
                        <span class="karma__dice">w8{{karma.dice}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {{!-- Devotion --}}
    <div>
        <h4>Devotions</h4>
        <table class="table__devotion">
            <tr>
                <th class="text__alignment--left">{{localize "ED.General.current"}}</th>
                <th class="text__alignment--left">{{localize "ED.General.max"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.step"}}</th>
                <th class="text__alignment--center">{{localize "ED.General.dice"}}</th>
            </tr>
            <tr>
                <td class="devotion__current--content">
                    <div>
                        <span class="devotion__step">5{{devotion.current}}</span>
                    </div>
                </td>
                <td class="devotion__maximum--content">
                    <div>
                        <span class="devotion__dice">10{{devotion.maximum}}</span>
                    </div>
                </td>
                <td class="devotion__step--content">
                    <div>
                        <span class="devotion__step">5{{devotion.step}}</span>
                    </div>
                </td>
                <td class="devotion__dice--content">
                    <div>
                        <span class="devotion__dice">w8{{devotion.dice}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>