<div>
    <div class="partial__twenty-five-percent">
        <img class="actor-image" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    </div>
    <div class="partial__seventy-five-percent">

        <div class="content--flex-column">
            <div class="characteristics--padding">


                <div id="characteristics-defenses" class="partial__two">
                    <h4 class="header header--centered">Defenses</h4>
                    <div class="input--centered">
                        <label class="partial__three">Physical</label>
                        <label class="partial__three">Mystical</label>
                        <label class="partial__three">Social</label>
                    </div>
                    <div class="input--centered partial__three">
                        <input id="characteristic-defense-physcial" class="input__circle-input--centered" name="system.characteristics.defenses.physical" value="{{actor.system.characteristics.defenses.physical}}">
                    </div>
                    <div class="input--centered partial__three">
                        <input id="characteristic-defense-mystical" class="input__circle-input--centered" name="system.characteristics.defenses.mystical" value="{{actor.system.characteristics.defenses.mystical}}">
                    </div>
                    <div class="input--centered partial__three">
                        <input id="characteristic-defense-social" class="input__circle-input--centered" name="system.characteristics.defenses.social" value="{{actor.system.characteristics.defenses.social}}">
                    </div>
                </div>
                <div id="characteristics-health-rating" class="partial__two">
                    <h4 class="header header--centered">Health Rating</h4>
                    <div class="input--centered">
                        <label class="partial__three">Wounds</label>
                        <label class="partial__three">Unconscious</label>
                        <label class="partial__three">Death</label>
                    </div>
                    <div class="input--centered partial__three">
                        <input id="characteristic-defense-physcial" class="input__circle-input--centered" name="system.characteristics.health.woundThreshold" value="{{actor.system.characteristics.health.woundThreshold}}">
                    </div>
                    <div class="input--centered partial__three">
                        <input id="characteristic-health-rating-unconscious" class="input__circle-input--centered" name="system.characteristics.health.unconscious" value="{{actor.system.characteristics.health.unconscious}}">
                    </div>
                    <div class="input--centered partial__three">
                        <input id="characteristic-health-rating-death" class="input__circle-input--centered" name="system.characteristics.health.death" value="{{actor.system.characteristics.health.death}}">
                    </div>
                </div>
            </div>

            <div class="characteristics--padding1">
                <div id="characteristics-armor" class="partial__four">
                    <h4 class="header header--centered">Armor</h4>
                    <div class="input--centered">
                        <label class="partial__two">Physical</label>
                        <label class="partial__two">Mystic</label>
                    </div>
                    <div class="input--centered partial__two">
                        <input id="characteristic-armor-physical" class="input__circle-input--centered" name="system.characteristics.armor.physical.value" value="{{actor.system.characteristics.armor.physical.value}}">
                    </div>
                    <div class="input--centered partial__two">
                        <input id="characteristic-armor-mystic" class="input__circle-input--centered" name="system.characteristics.armor.mystical.value" value="{{actor.system.characteristics.armor.mystical.value}}">
                    </div>
                </div>

                <div id="characteristics-damage" class="partial__four">
                    <h4 class="header header--centered">Movement
                        <a class="fas fa-cogs" title="other movement types inside a pop up"></a>
                    </h4>
                    <div class="input--centered">
                        <label>walk</label>
                        {{!-- <label class="partial__four">Run</label>
                        <label class="partial__four">Mount</label>
                        <label class="partial__four">Fly</label> --}}
                    </div>
                    <div class="input--centered">
                        <input id="characteristic-movement-run" class="input__circle-input--centered" name="system.characteristics.movement.walk" value="{{actor.system.characteristics.movement.walk}}">
                    </div>

                    {{!-- <div class="input--centered partial__four">
                        <input id="characteristic-movement-run" class="input__circle-input--centered">
                    </div>
                    <div class="input--centered partial__four">
                        <input id="characteristic-movement-fly" class="input__circle-input--centered">
                    </div>
                    <div class="input--centered partial__four">
                        <input id="characteristic-movement-mount" class="input__circle-input--centered">
                    </div> --}}
                </div>




                <div id="characteristics-damage" class="partial__four">
                    <h4 class="header header--centered">Damage
                        <a class="fas fa-cogs" title="a prompt will show option for Blood magic"></a>
                    </h4>
                    <div class="input--centered">
                        <label class="partial__two">Current</label>
                        <label class="partial__two">Wounds</label>
                    </div>
                    <div class="input--centered partial__two">
                        <input id="characteristic-damage" class="input__circle-input--centered" name="system.characteristics.health.damage.total" value="{{actor.system.characteristics.health.damage.total}}">
                    </div>
                    <div class="input--centered partial__two">
                        <input id="characteristic-wounds" class="input__circle-input--centered" name="system.characteristics.health.wounds" value="{{actor.system.characteristics.health.wounds}}">
                    </div>
                </div>
                <div id="characteristics-damage" class="partial__four">
                    <h4 class="header header--centered">recovery
                        <a class="fas fa-medkit" title="take a rest"></a>
                    </h4>
                    <div class="input--centered">
                        <label class="partial__two">Current
                        </label>
                        <label class="partial__two">daily</label>
                    </div>
                    <div class="input--centered partial__two">
                        <input id="characteristic-recovery-current" class="input__circle-input--centered" name="system.characteristics.recoveryTests.value" value="{{actor.system.characteristics.recoveryTests.value}}">
                    </div>
                    <div class="input--centered partial__two">
                        <input id="characteristic-recovery-daily" class="input__circle-input--centered" name="system.characteristics.recoveryTests.max" value="{{actor.system.characteristics.recoveryTests.max}}">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>