<span class="modifier-content">
  {{log this}}
    {{#each this.reactions}}
      {{log this}}
      <button class="reaction-button" data-button-id="{{this.id}}" data-button-actor-id="{{this.parent._id}}" type="button">{{this.name}}</button>
    {{/each}}
</span>