
<div class="card__ability">
    <div class="ability-card__grid--container item-name" data-item-id="{{_id}}">
        <div class="ability-card__grid--item icons__dice">
            <img class="ability-icon" src="{{img}}" data-edit="img" title="{{name}}" />
            <img class="roll-icon__hover" src="icons/svg/d20-grey.svg">
            <img class="roll-icon__pointer rollable" src="icons/svg/d20-black.svg" data-attribute="{{@key}}">
        </div>
        <div class="ability-card__grid--item card__name">{{name}}</div>
        <div class="ability-card__grid--item">{{system.action}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{system.level}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{add system.level (edGetAttributeValue system.attribute this.actor.system.attributes)}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{system.strain}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{system.attribute}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{> "systems/ed4e/templates/global/card-options-enhance.hbs"}}</div>
    </div>
    <div class="card__description card__description--toggle display__inline-block">
        <span class="card__description--content">
            {{{system.description.value}}}
        </span>
        <span>
            {{#each this.effects as |effects id|}}

            {{> "systems/ed4e/templates/actor/cards/effect-card-link.hbs" effects }}
            {{/each}}
        </span>
    </div>
</div>
