<div class="characteristics-damage-header__grid-item">
    <h4 class="header--centered">{{localize "ED.Actor.Header.damage"}}</h4>
</div>
<div class="characteristics-damage-damage__grid-item">
    <label class="">{{localize "ED.Actor.Characteristics.currentDamage"}}</label>
    <div>
        <input id="characteristic-damage" class="input__circle-input--centered"
            name="system.characteristics.health.damage.standard"
            value="{{actor.system.characteristics.health.damage.standard}}" title="{{localize "
            ED.Actor.Tooltips.damagePhysical"}}" editable>

        <input id="characteristic-damage" class="input__circle-input--centered"
            name="system.characteristics.health.damage.stun" value="{{actor.system.characteristics.health.damage.stun}}"
            title="{{localize " ED.Actor.Tooltips.damageSubdual"}}" editable>
        <input id="characteristic-damage" class="input__circle-input--centered"
            name="system.characteristics.health.damage.total"
            value="{{actor.system.characteristics.health.damage.total}}" title="{{localize "
            ED.Actor.Tooltips.damageSubdual"}}: {{actor.system.characteristics.health.damage.stun}} /
            {{localize "ED.Actor.Tooltips.damagePhysical" }}: {{actor.system.characteristics.health.damage.total}}"
            readonly>
    </div>

</div>
<div class="characteristics-damage-wounds__grid-item">
    <label class="">{{localize "ED.Actor.Characteristics.woundsDamage"}}</label>
    <div>
        <input id="characteristic-wounds" class="input__circle-input--centered"
            name="system.characteristics.health.wounds" value="{{actor.system.characteristics.health.wounds}}" editable>
    </div>
</div>

<div class="characteristics-recovery-header__grid-item">
    <h4 class="header--centered">{{localize "ED.Actor.Header.recovery"}}</h4>
</div>
<div class="characteristics-recovery__grid-item">
    <label class="">{{localize "ED.Actor.Characteristics.currentRecoveryTestsRecource"}}/{{localize
        "ED.Actor.Characteristics.dailyrecoveryTestsResource"}}</label>
    <div>
        <input id="characteristic-recovery-current" class="input__circle-input--centered"
            name="system.characteristics.recoveryTestsResource.value"
            value="{{actor.system.characteristics.recoveryTestsResource.value}}" editable>
        <input id="characteristic-recovery-daily" class="input__circle-input--centered"
            name="system.characteristics.recoveryTestsResource.max"
            value="{{actor.system.characteristics.recoveryTestsResource.max}}">
    </div>
</div>
