<div class="card__equipment">
    <div class="equipment-card__grid--container item-id" data-item-id="{{_id}}">
        {{#if (eq this.system.usableItem.usableItemSelector true)}}
        <div class="equipment-card__grid--item icons__dice">
            <img class="equipment-icon" src="{{img}}" />
            <img class="roll-icon__hover" src="icons/svg/d20-grey.svg">
            <img class="roll-icon__pointer rollable" src="icons/svg/d20-black.svg">
        </div>
        {{else}}
        <div class="equipment-card__grid--item icons__equipment">
            <img class="equipment-icon__visible" src="{{img}}" height="25" width="25" />
        </div>
        {{/if}}
        <div class="equipment-card__grid--item">{{name}}</div>
        {{#if (eq this.type "armor")}}
        <div class="equipment-card__grid--item text__alignment--center">{{add system.physical.armor
            system.physical.forgeBonus}}</div>
        <div class="equipment-card__grid--item text__alignment--center">{{add system.mystical.armor
            system.mystical.forgeBonus}}</div>
        <div class="equipment-card__grid--item text__alignment--center">{{system.initiativePenalty}}</div>
        <div class="equipment-card__grid--item text__alignment--center"></div>
        <div class="equipment-card__grid--item text__alignment--center">
            {{#if (eq this.system.itemStatus "carried" )}}
            {{!-- carried --}}
            <img class="item__status" src="systems/ed4e/assets/icons/not-equipped.svg" title="{{localize "ED.Actor.Tooltips.notEquipped"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "owned" )}}
            {{!-- owned --}}
            <img class="item__status" src="systems/ed4e/assets/icons/backpack.svg" title="{{localize "ED.Actor.Tooltips.carried"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "equipped" )}}
            {{!-- equipped --}}
            <img class="item__status" src="systems/ed4e/assets/icons/armor.svg" title="{{localize "ED.Actor.Tooltips.equippedArmor"}}">
            {{/if}}
        </div>
        {{/if}}
        {{#if (eq this.type "equipment")}}
        <div class="equipment-card__grid--item text__alignment--center">{{system.amount}}</div>
        <div class="equipment-card__grid--item text__alignment--center"></div>
        <div class="equipment-card__grid--item text__alignment--center"></div>
        <div class="equipment-card__grid--item text__alignment--center"></div>
        <div class="equipment-card__grid--item text__alignment--center">
            {{#if (eq this.system.itemStatus "carried" )}}
            {{!-- carried --}}
            <img class="item__status" src="systems/ed4e/assets/icons/not-equipped.svg" title="{{localize "ED.Actor.Tooltips.notEquipped"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "owned" )}}
            {{!-- owned --}}
            <img class="item__status" src="systems/ed4e/assets/icons/backpack.svg" title="{{localize "ED.Actor.Tooltips.carried"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "equipped" )}}
            {{!-- equipped --}}
            <img class="item__status" src="systems/ed4e/assets/icons/equipped.svg" title="{{localize "ED.Actor.Tooltips.equipped"}}">
            {{/if}}
            
        </div>
        {{/if}}
        {{#if (eq this.type "shield")}}
        <div class="equipment-card__grid--item text__alignment--center">{{system.defenseBonus.physical}}</div>
        <div class="equipment-card__grid--item text__alignment--center">{{system.defenseBonus.mystical}}</div>
        <div class="equipment-card__grid--item text__alignment--center">{{system.initiativePenalty}}</div>
        <div class="equipment-card__grid--item text__alignment--center"></div>
        <div class="equipment-card__grid--item text__alignment--center">
        
            {{#if (eq this.system.itemStatus "carried" )}}
            {{!-- carried --}}
            <img class="item__status" src="systems/ed4e/assets/icons/not-equipped.svg" title="{{localize "ED.Actor.Tooltips.notEquipped"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "owned" )}}
            {{!-- owned --}}
            <img class="item__status" src="systems/ed4e/assets/icons/backpack.svg" title="{{localize "ED.Actor.Tooltips.carried"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "equipped" )}}
            {{!-- equipped --}}
            <img class="item__status" src="systems/ed4e/assets/icons/equipped.svg" title="{{localize "ED.Actor.Tooltips.equippedShield"}}">
            {{/if}}
            
        </div>
        {{/if}}
        {{#if (eq this.type "weapon")}}
        <div class="equipment-card__grid--item text__alignment--center">{{this.system.damageTotal}}</div>
        <div class="equipment-card__grid--item text__alignment--center"></div>
        {{#if system.isRanged}}
            <div class="equipment-card__grid--item text__alignment--center">{{system.range.shortMin}}-{{system.range.shortMax}}/{{system.range.longMin}}-{{system.range.longMax}}</div>
            {{#if (eq system.weaponType "thrown")}}
            <div class="equipment-card__grid--item text__alignment--center">{{system.amount}}</div>
            {{else}}
            <div class="equipment-card__grid--item text__alignment--center">{{system.ammoAmount}}</div>
            {{/if}}
        {{else}}
            <div class="equipment-card__grid--item text__alignment--center">{{system.range.longMax}}</div>
            <div class="equipment-card__grid--item text__alignment--center">{{system.amount}}</div>
        {{/if}}
        <div class="equipment-card__grid--item text__alignment--center">
            {{#if (eq this.system.itemStatus "carried" )}}
            {{!-- carried --}}
            <img class="item__status" src="systems/ed4e/assets/icons/not-equipped.svg" title={{localize "ED.Actor.Tooltips.notEquipped"}}>
            {{/if}}
            {{#if (eq this.system.itemStatus "owned" )}}
            {{!-- owned --}}
            <img class="item__status" src="systems/ed4e/assets/icons/backpack.svg" title="{{localize "ED.Actor.Tooltips.carried"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "equipped" )}}
            {{!-- equipped --}}
            <img class="item__status" src="systems/ed4e/assets/icons/equipped.svg" title="{{localize "ED.Actor.Tooltips.equipped"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "mainHand" )}}
            {{!-- carried --}}
            <img class="item__status" src="systems/ed4e/assets/icons/main-hand.svg" title="{{localize "ED.Actor.Tooltips.mainHand"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "offHand" )}}
            {{!-- equipped --}}
            <img class="item__status" src="systems/ed4e/assets/icons/off-hand.svg" title="{{localize "ED.Actor.Tooltips.offHand"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "twoHands" )}}
            {{!-- owned --}}
            <img class="item__status" src="systems/ed4e/assets/icons/two-handed.svg" title="{{localize "ED.Actor.Tooltips.twoHanded"}}">
            {{/if}}
            {{#if (eq this.system.itemStatus "tail" )}}
            {{!-- owned --}}
            <img class="item__status" src="systems/ed4e/assets/icons/tail.svg" title="{{localize "ED.Actor.Tooltips.tail"}}">
            {{/if}}
        </div>
        {{/if}}

        <div class="equipment-card__grid--item text__alignment--center">
            {{> "systems/ed4e/templates/global/card-options-chat.hbs"}}
        </div>
    </div>
    <div class="card__description card__description--toggle display__inline-block">
        <span class="card__description--content">
            {{{system.description.value}}}
        </span>
        <span>
            {{#each this.effects as |effects id|}}
            {{> "systems/ed4e/templates/actor/cards/effect-card-link.hbs" effects }}
            {{/each}}
        </span>
    </div>
</div>