<div class="card__item">
    <div class="spell-card__grid--container item-id" data-item-id="{{_id}}">
        <div class="spell-card__grid--item icons__dice">
            {{#if (eq this.system.testing.attuned true)}}
            {{#if (eq this.system.testing.readyToCast false)}}
            <img class="spell-icon" src="systems/ed4e/assets/icons/weave-threads.svg" data-attribute="{{@key}}">
            {{/if}}
            {{else}}
            {{#if (eq this.system.testing.readyToCast true)}}
            <img class="spell-icon" src="systems/ed4e/assets/icons/cast-spell.svg" data-attribute="{{@key}}">
            {{else}}
            <img class="spell-icon" src="systems/ed4e/assets/icons/attune.svg" data-attribute="{{@key}}">
            {{/if}}
            {{/if}}
        </div>
        <div class="spell-card__grid--item card__name text__alignment--left">{{name}}</div>
        <div class="spell-card__grid--item">{{system.threadsrequired}}</div>
        <div class="spell-card__grid--item text__alignment--center undefined">
            {{!-- hier fehlt noch das entweder der erste oder der zweite wert gehighlightet wird --}}
            {{#if (eq this.system.testing.attuned true)}}
            {{#if (eq this.system.testing.readyToCast false)}}
                <span class="spell-thread__pointer">
                    {{system.weavingdifficulty}}
                </span> 
                <span>
                    /
                </span>
                <span>
                    {{system.reattunedifficulty}}
                </span>
            {{/if}}
            {{else}}
                <span>
                    {{system.weavingdifficulty}}
                </span> 
                <span>
                    /
                </span>
                <span class="spell-thread__pointer">
                    {{system.reattunedifficulty}}
                </span>
            {{/if}}
        </div>
        <div class="spell-card__grid--item text__alignment--center undefined">{{system.castingdifficulty}}</div>
        <div class="spell-card__grid--item text__alignment--center">{{system.range.value}} {{system.range.uom}} </div>
        <div class="spell-card__grid--item text__alignment--center">{{system.duration.value}} {{system.duration.uom}}
        </div>
        <div class="spell-card__grid--item text__alignment--center">{{>
            "systems/ed4e/templates/global/card-options-chat.hbs"}}</div>
    </div>
    <div class="card__description card__description--toggle display__inline-block">
        <span class="card__description--content">
            {{{system.description.value}}}
        </span>
        <span>
            {{#each this.effects as |effects id|}}
            {{> "systems/ed4e/templates/actor/cards/effect-card-link.hbs" effects }}
            {{/each}}
        </span>
    </div>
</div>