{{localize "ED.Sheet.Header.carryingCapacity"}}  
<div>
    <input type="number" name="system.encumbrance.max" value="{{actor.system.encumbrance.max}}">
</div>
{{localize "ED.Sheet.Header.encumbrance"}} 
<div>
    <input type="number" name="system.encumbrance.value" value="{{actor.system.encumbrance.value}}">
</div>
<h4>{{localize "ED.Sheet.Header.equipment"}}</h4>
<div>
    {{#each actor.itemTypes.equipment}}
    <div class="item-name one-line__vertical-align" data-item-id="{{_id}}">
        <div class="partial__two one-line__vertical-align">
            <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
            {{name}}
        </div>
        <div class="partial__two one-line__vertical-align">
            {{> "systems/ed4e/templates/global-templates/card-options-chat.hbs"}}
        </div>
    </div>
    {{/each}}
</div>
<h4>{{localize "ED.Sheet.Header.weapons"}}</h4>
<div>
    {{#each actor.itemTypes.weapon}}
    <div class="item-name one-line__vertical-align" data-item-id="{{_id}}">
        <div class="partial__two one-line__vertical-align">
            <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
            {{name}}
        </div>
        <div class="partial__two one-line__vertical-align">
            {{> "systems/ed4e/templates/global-templates/card-options-chat.hbs"}}
        </div>
    </div>
    {{/each}}
</div>
<h4>{{localize "ED.Sheet.Header.armor"}}</h4>
<div>
    {{#each actor.itemTypes.armor}}
    <div class="item-name one-line__vertical-align" data-item-id="{{_id}}">
        <div class="partial__two one-line__vertical-align">
            <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
            {{name}}
        </div>
        <div class="partial__two one-line__vertical-align">
            {{> "systems/ed4e/templates/global-templates/card-options-chat.hbs"}}
        </div>
    </div>
    {{/each}}
</div>
<h4>{{localize "ED.Sheet.Header.shields"}}</h4>
<div>
    {{#each actor.itemTypes.shield}}
    <div class="item-name one-line__vertical-align" data-item-id="{{_id}}">
        <div class="partial__two one-line__vertical-align">
            <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
            {{name}}
        </div>
        <div class="partial__two one-line__vertical-align">
            {{> "systems/ed4e/templates/global-templates/card-options-chat.hbs"}}
        </div>
    </div>
    {{/each}}
</div>