{{localize "ED.Actor.Header.carryingCapacity"}}

<div>
    <input class="input__number-input" type="number" name="system.encumbrance.max"
        value="{{actor.system.encumbrance.max}}">
</div>
{{localize "ED.Actor.Header.encumbrance"}}
<div>
    <input class="input__number-input" type="number" name="system.encumbrance.value"
        value="{{actor.system.encumbrance.value}}">
</div>
<p class="undefined">DIe Bar soll anhand der encumbrance verfärbt werden.</p>
<div id="encumbrance-bar">
    <div class="encumbrance-bar"></div>
    <div class="encumbrance-circle__loaded"></div>
    <div class="encumbrance-circle__heavy"></div>
    <div class="encumbrance-circle__overloaded"></div>
</div>

das Grit muss am ende noch angepasst werden.
{{!-- Armor --}}
<div class="equipment-card__grid--container font__bold text-break__auto">
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item"><h3 class="font__bold font__no-underline">{{localize "ED.Actor.Header.armor"}}</h3></div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.physicalArmor"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.mysticalArmor"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.initiativePenalty"}}</div>
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.equippedStatus"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
</div>
{{#each actor.itemTypes.armor}}
    {{> "systems/ed4e/templates/actor/cards/equipment-card.hbs"}}
{{/each}}

{{!-- EQUIPMENTS --}}
<div class="equipment-card__grid--container font__bold text-break__auto">
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item"><h3 class="font__bold font__no-underline">{{localize "ED.Actor.Header.equipment"}}</h3></div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.amount"}}</div>
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.equippedStatus"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
</div>
{{#each actor.itemTypes.equipment}}
    {{> "systems/ed4e/templates/actor/cards/equipment-card.hbs"}}
{{/each}}

{{!-- Shields --}}
<div class="equipment-card__grid--container font__bold text-break__auto">
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item"><h3 class="font__bold font__no-underline">{{localize "ED.Actor.Header.shields"}}</h3></div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.physicalDefense"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.mysticalDefense"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.initiativePenalty"}}</div>
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.equippedStatus"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
</div>
{{#each actor.itemTypes.shield}}
    {{> "systems/ed4e/templates/actor/cards/equipment-card.hbs"}}
{{/each}}

{{!-- Weapons --}}
<div class="equipment-card__grid--container font__bold text-break__auto">
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item"><h3 class="font__bold font__no-underline">{{localize "ED.Actor.Header.weapons"}}</h3></div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.amount"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.damage"}}</div>
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item text__alignment--center"></div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.equippedStatus"}}</div>
    <div class="equipment-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
</div>
{{#each actor.itemTypes.weapon}}
    {{> "systems/ed4e/templates/actor/cards/equipment-card.hbs"}}
{{/each}}