{{localize "ED.Actor.Header.carryingCapacity"}}  
<div>
    <input class="input__number-input" type="number" name="system.encumbrance.max" value="{{actor.system.encumbrance.max}}">
</div>
{{localize "ED.Actor.Header.encumbrance"}} 
<div>
    <input class="input__number-input" type="number" name="system.encumbrance.value" value="{{actor.system.encumbrance.value}}">
</div>
<h4>{{localize "ED.Actor.Header.equipment"}}</h4>
<div>
    {{#each actor.itemTypes.equipment}}
    <div class="item-name item-name__card" data-item-id="{{_id}}">
        {{> "systems/ed4e/templates/actor/cards/equipment-card.hbs"}}
    </div>
    {{/each}}
</div>
<h4>{{localize "ED.Actor.Header.weapons"}}</h4>
<div>
    {{#each actor.itemTypes.weapon}}
    <div class="item-name item-name__card" data-item-id="{{_id}}">
        {{> "systems/ed4e/templates/actor/cards/weapon-card.hbs"}}
    </div>
    {{/each}}
</div>
<h4>{{localize "ED.Actor.Header.armor"}}</h4>
<div>
    {{#each actor.itemTypes.armor}}
    <div class="item-name item-name__card" data-item-id="{{_id}}">
        {{> "systems/ed4e/templates/actor/cards/armor-card.hbs"}}
    </div>
    {{/each}}
</div>
<h4>{{localize "ED.Actor.Header.shields"}}</h4>
<div>
    {{#each actor.itemTypes.shield}}
    <div class="item-name item-name__card" data-item-id="{{_id}}">
        {{> "systems/ed4e/templates/actor/cards/shield-card.hbs"}}
    </div>
    {{/each}}
</div>