<div class="left-part">
    {{!-- Attribute --}}
    <div>
        <h3 class="margin__none">
            <label>{{localize "ED.Actor.Header.attributes"}}</label>
            <a class="icon__position--right fa-regular fa-circle-up" title="{{localize "
                ED.Actor.LpTracking.attributeImprovement"}}"></a>
        </h3>
        <div class="attribute-card__grid--container font__bold">
            <div class="attribute-card__grid--item"></div>
            <div class="attribute-card__grid--item">
                <label>{{localize "ED.Actor.Attributes.attributeName"}}</label>
            </div>
            <div class="attribute-card__grid--item">
                <label>
                    {{localize "ED.Actor.Attributes.attributeValue"}}
                </label>
            </div>
            <div class="attribute-card__grid--item">
                <label>
                    {{localize "ED.Actor.Attributes.increase"}}
                </label>
            </div>
            <div class="attribute-card__grid--item">
                <label>
                    {{localize "ED.Actor.Attributes.attribueStep"}}
                </label>
            </div>
        </div>
        {{> "systems/ed4e/templates/actor/cards/attribute-card.hbs"}}
    </div>

    {{!-- Karma --}}
    <div class="space__small1">
        <h3 class="one-line__vertical-align karma-devotion__header margin__none">
            <label>{{localize "ED.Actor.Header.karma"}}</label>
            <span class="icon__position--right one-line__vertical-align">
                <input type="checkbox" name="system.karma.useAlways" {{checked actor.system.karma.useAlways}}
                    title="{{localize " ED.Actor.Tooltips.karmaAlways"}}">
                <a class="karma__ritual">
                    <button class="button__Karma-refresh" title="Karma-Ritual">
                        <i class="fa-solid fa-person-rays" title="{{localize "
                            ED.Actor.Tooltips.karmaRitualTooltip"}}"></i>
                    </button>
                </a>
            </span>
        </h3>
        <div class="karma-devotion__grid--container font__bold">
            <div class="karma-devotion__grid--item">{{localize "ED.Actor.Karma.current"}}</div>
            <div class="karma-devotion__grid--item">{{localize "ED.Actor.Karma.max"}}</div>
            <div class="karma-devotion__grid--item">{{localize "ED.Actor.Karma.step"}}</div>
        </div>
        <div class="karma-devotion__grid--container font__bold">
            <div class="karma-devotion__grid--item">
                <input class="input__circle-input--centered" name="system.karma.value"
                    value="{{actor.system.karma.value}}">
            </div>
            <div class="karma-devotion__grid--item">
                <input class="input__circle-input--centered" name="system.karma.max" value="{{actor.system.karma.max}}"
                    readonly>
            </div>
            <div class="karma-devotion__grid--item">
                <input class="input__circle-input--centered" name="system.karma.step"
                    value="{{actor.system.karma.step}}">
            </div>
        </div>
    </div>
    {{!-- Devotion --}}
    <div class="space__small1">
        <h3 class="one-line__vertical-align karma-devotion__header margin__none">
            <label>{{localize "ED.Actor.Header.devotion"}}</label>
        </h3>
        <div class="karma-devotion__grid--container font__bold">
            <div class="karma-devotion__grid--item">{{localize "ED.Actor.Devotion.current"}}</div>
            <div class="karma-devotion__grid--item">{{localize "ED.Actor.Devotion.max"}}</div>
            <div class="karma-devotion__grid--item">{{localize "ED.Actor.Devotion.step"}}</div>
        </div>
        <div class="karma-devotion__grid--container font__bold">
            <div class="karma-devotion__grid--item">
                <input class="input__circle-input--centered" name="system.devotion.value"
                    value="{{actor.system.devotion.value}}">
            </div>
            <div class="karma-devotion__grid--item">
                <input class="input__circle-input--centered" name="system.devotion.max"
                    value="{{actor.system.devotion.max}}" readonly>
            </div>
            <div class="karma-devotion__grid--item">
                <input class="input__circle-input--centered" name="system.devotion.step"
                    value="{{actor.system.devotion.step}}">
            </div>
        </div>
    </div>
</div>
{{!-- Conditions --}}
<div class="right-part">
    <div class="partial__two">
        <h3 class="margin__right">{{localize "ED.Actor.Header.conditions"}}</h3>
        {{!-- aggressiveAttack --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.aggressiveAttack" {{checked
                    actor.system.condition.aggressiveAttack}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.aggressiveAttack"}}</div>
        </div>
        {{!-- coverPartial --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.cover.partial" {{checked
                    actor.system.condition.cover.partial}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.coverPartial"}}</div>
        </div>
        {{!-- coverFull --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.cover.full" {{checked
                    actor.system.condition.cover.full}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.coverFull"}}</div>
        </div>
        {{!-- darknessPartial --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.darkness.partial" {{checked
                    actor.system.condition.darkness.partial}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.darknessPartial"}}</div>
        </div>
        {{!-- darknessFull --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.darkness.full" {{checked
                    actor.system.condition.darkness.full}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.darknessFull"}}</div>
        </div>
        {{!-- defensiveStance --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.defensiveStance" {{checked
                    actor.system.condition.defensiveStance}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.defensiveStance"}}</div>
        </div>
        {{!-- fury --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.fury" {{checked
                    actor.system.condition.fury}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.fury"}}</div>
        </div>
        {{!-- harried --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.harried" {{checked
                    actor.system.condition.harried}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.harried"}}</div>
        </div>
        {{!-- impairedMovementPartial --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.impairedMovement.partial"
                    {{checked actor.system.condition.impairedMovement.partial}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.impairedMovementPartial"}}</div>
        </div>
        {{!-- impairedMovementFull --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.impairedMovement.full" {{checked
                    actor.system.condition.impairedMovement.full}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.impairedMovementFull"}}</div>
        </div>
        {{!-- knockedDown --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.knockedDown" {{checked
                    actor.system.condition.knockedDown}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.knockedDown"}}</div>
        </div>
        {{!-- surprised --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input type="checkbox" class="input__checkbox" name="system.condition.surprised" {{checked
                    actor.system.condition.surprised}}>
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.surprised"}}</div>
        </div>
        {{!-- overwhelmed --}}
        <div class="conditions__grid--container">
            <div class="conditions__grid--item">
                <input class="input__number-input input__circle-input--centered" name="system.condition.overwhelmed"
                    value="{{actor.system.condition.overwhelmed}}">
            </div>
            <div class="conditions__grid--item">{{localize "ED.Actor.Conditions.overwhelmed"}}</div>
        </div>
    </div>
    <div class="partial__two">
        <div>
            <h3>{{localize "ED.Actor.Header.defaultAttacks"}}</h3>
            <div>
                <div class="partial__two">
                    <button class="attack-substitude__weapon-attack" data-item-id="weapon-attack">Weapon Attack</button>
                </div>
                <div class="partial__two">
                    <button class="attack-substitude__unarmed-attack" data-item-id="unarmed-attack">Unarmed Attack</button>
                </div>
            </div>
        </div>
        {{!-- tobe removed --}}
        <br>
        <br>

        

        <div>
            <h3 class="undefined">{{localize "ED.Actor.Header.specialAbility"}}</h3>
            <div class="undefined">
                wie soll diese ansicht aussehen, wie Rollable items oder nicht?
                {{#each actor.itemTypes.specialAbility}}
                <div class="item-id one-line__vertical-align" data-item-id="{{_id}}">
                    <div class="partial__two one-line__vertical-align">
                        <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
                        {{name}}
                    </div>
                    <div class="partial__two one-line__vertical-align">
                        {{> "systems/ed4e/templates/global/card-options-chat.hbs"}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>