<p class="undefined">effecte die zu "effect-items" gehören werden eingerückt</p>
<div>
    <h3>{{localize "ED.Actor.Header.effectsTemporary"}}
        <a class="effect-add align-right-button" data-type="effect" title="{{localize " earthdawn.n.newItem" }}">
            <I class="fas fa-plus icon__position--right"></I>
        </a>
    </h3>
    <div class="effect-card__grid--container font__bold text-break__auto">
        <div class="effect-card__grid--item"></div>
        <div class="effect-card__grid--item">{{localize "ED.Actor.Header.name"}}</div>
        <div class="effect-card__grid--item">{{localize "ED.Actor.Header.origin"}}</div>
        <div class="effect-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.active"}}</div>
        <div class="effect-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.duration"}}</div>
        <div class="effect-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
    </div>
    <div>
        {{#each actor.effects as |effects id|}}
            {{> "systems/ed4e/templates/global/effect-card.hbs" effects }}
        {{/each}}
    </div>
    {{!-- <div>
        {{#each actor.itemTypes.effect as |effects id|}}
            {{> "systems/ed4e/templates/global/effect-card.hbs" effects }}
        {{/each}}
    </div> --}}
</div>

<div class="space__small">
    <h3>{{localize "ED.Actor.Header.effectsPermanent"}}
        <a class="effect-add align-right-button" data-type="effect" title="{{localize " earthdawn.n.newItem" }}">
            <I class="fas fa-plus icon__position--right"></I>
        </a>
    </h3>
    <div class="effect-card__grid--container font__bold text-break__auto">
        <div class="effect-card__grid--item"></div>
        <div class="effect-card__grid--item">{{localize "ED.Actor.Header.name"}}</div>
        <div class="effect-card__grid--item">{{localize "ED.Actor.Header.origin"}}</div>
        <div class="effect-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.active"}}</div>
        <div class="effect-card__grid--item text__alignment--center"></div>
        <div class="effect-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
    </div>
    <p class="undefined">hier müssen die Permanenten Effecte hin.</p>
</div>