<div>

    <h3>{{localize "ED.Actor.Header.disciplines"}}</h3>
    <div>
        {{#each actor.itemTypes.discipline}}
        <div class="item-id item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/class-card.hbs"}}
        </div>
        {{/each}}
    </div>
    <h3>{{localize "ED.Actor.Header.paths"}}</h3>
    <div>
        {{#each actor.itemTypes.path}}
        <div class="item-id item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/class-card.hbs"}}
        </div>
        {{/each}}
    </div>
    <h3>{{localize "ED.Actor.Header.questor"}}</h3>
    <div>
        {{#each actor.itemTypes.questor}}
        <div class="item-id item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/class-card.hbs"}}
        </div>
        {{/each}}
    </div>
</div>

{{#each actor.itemTypes.discipline}}
<div class="item-id item-name__card" data-item-id="{{_id}}">

    {{> "systems/ed4e/templates/actor/cards/class-card.hbs"}}
</div>
{{/each}}

