<div>
    <div class="ability-card__grid--container font__bold text-break__auto">
        <div class="ability-card__grid--item"></div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.name"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.action"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.rank"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.step"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.strain"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.attribute"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
    </div>
    <div class="undefined">
                <p>sortiere talente nach type (discipline, frei, etc.) </p>
                <p>füge Knacks eingerückt ein</p>
            </div>
    {{#each actor.itemTypes.talent}}
    {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
    {{/each}}
    <h3>
        {{localize "X-OptionalTalents"}}
    </h3>
    {{#each (gettalentCategory actor.itemTypes.talent "optional") as |talent i|}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs" talent}}
        </div>
    {{/each}}
    <h3>
        {{localize "X-FreeTalents"}}
    </h3>
    {{#each (gettalentCategory actor.itemTypes.talent "free") as |talent i|}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs" talent}}
        </div>
    {{/each}}
    <h3>
        {{localize "X-VersatilityTalents"}}
    </h3>
    {{#each (gettalentCategory actor.itemTypes.talent "versatility") as |talent i|}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs" talent}}
        </div>
    {{/each}}

    Müssen noch eingeordnet werden
    <div>
        {{#each actor.itemTypes.knackAbility}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
        </div>
        {{/each}}
    </div>

</div>