<div>
    <div class="ability-card__grid--container font__bold text-break__auto">
        <div class="ability-card__grid--item"></div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.name"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.action"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.rank"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.step"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.strain"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.attribute"}}</div>
        <div class="ability-card__grid--item text__alignment--center">{{localize "ED.Actor.Header.controlIcons"}}</div>
    </div>
    <div class="undefined">
                <p>Sortiere Skills nach typ</p>
            </div>
    {{#each actor.itemTypes.skill}}
    {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
    {{/each}}
</div>