<div>
    <h3>
        {{localize "X-DisciplineTalents"}}
    </h3>
    {{#each (gettalentCategory actor.itemTypes.talent 'discipline') as |talent i|}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs" talent}}
        </div>
    {{/each}}
    <h3>
        {{localize "X-OptionalTalents"}}
    </h3>
    {{#each (gettalentCategory actor.itemTypes.talent "optional") as |talent i|}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs" talent}}
        </div>
    {{/each}}
    <h3>
        {{localize "X-FreeTalents"}}
    </h3>
    {{#each (gettalentCategory actor.itemTypes.talent "free") as |talent i|}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs" talent}}
        </div>
    {{/each}}
    <h3>
        {{localize "X-VersatilityTalents"}}
    </h3>
    {{#each (gettalentCategory actor.itemTypes.talent "versatility") as |talent i|}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs" talent}}
        </div>
    {{/each}}

    Müssen noch eingeordnet werden
    <div>
        {{#each actor.itemTypes.knackAbility}}
        <div class="item-name item-name__card" data-item-id="{{_id}}">
            {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
        </div>
        {{/each}}
    </div>

</div>