<div>
    <h3>{{localize "ED.Item.General.details"}}</h3>
</div>
<div>
    {{> "systems/ed4e/templates/item/item-partials/item-details/details/item-details-abilities.hbs"}}
</div>

{{! -- Magic Type -- }}
<div>
  <h3>{{localize "ED.Item.General.magic"}}</h3>
</div>

{{formField systemFields.magic.fields.spellcasting name="system.magic.spellcasting" value=item.system.magic.spellcasting}}
{{formField systemFields.magic.fields.threadWeaving name="system.magic.threadWeaving" value=item.system.magic.threadWeaving}}
{{formField systemFields.magic.fields.magicType name="system.magic.magicType" value=item.system.magic.magicType required=false}}