<div>
    <h3>{{localize "ED.Item.General.details"}}</h3>
    {{!-- Dexterity Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.dexterityStep"}}:</label>
        <input class="input__circle-input" name="system.dexterityStep" type="text" value="{{item.system.dexterityStep}}"
            data-dtype="Number">
    </div>
    {{!-- Strength Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.strengthStep"}}:</label>
        <input class="input__circle-input" name="system.strengthStep" type="text" value="{{item.system.strengthStep}}"
            data-dtype="Number">
    </div>
    {{!-- Toughness Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.toughnessStep"}}:</label>
        <input class="input__circle-input" name="system.toughnessStep" type="text" value="{{item.system.toughnessStep}}"
            data-dtype="Number">
    </div>
    {{!-- Perception Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.perceptionStep"}}:</label>
        <input class="input__circle-input" name="system.perceptionStep" type="text" value="{{item.system.perceptionStep}}"
            data-dtype="Number">
    </div>
    {{!-- WIllpower Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.willpowerStep"}}:</label>
        <input class="input__circle-input" name="system.willpowerStep" type="text" value="{{item.system.willpowerStep}}"
            data-dtype="Number">
    </div>
    {{!-- Charisma Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.charismaStep"}}:</label>
        <input class="input__circle-input" name="system.charismaStep" type="text" value="{{item.system.charismaStep}}"
            data-dtype="Number">
    </div>
    {{!-- initiative Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.initiativeStep"}}:</label>
        <input class="input__circle-input" name="system.initiativeStep" type="text" value="{{item.system.initiativeStep}}"
            data-dtype="Number">
    </div>
    {{!-- walk Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.walk"}}:</label>
        <input class="input__circle-input" name="system.movement.walk" type="text" value="{{item.system.movement.walk}}"
            data-dtype="Number">
    </div>
    {{!-- fly Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.fly"}}:</label>
        <input class="input__circle-input" name="system.movement.fly" type="text" value="{{item.system.movement.fly}}"
            data-dtype="Number">
    </div>
    {{!-- swim Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.swim"}}:</label>
        <input class="input__circle-input" name="system.movement.swim" type="text" value="{{item.system.movement.swim}}"
            data-dtype="Number">
    </div>
    {{!-- burrow Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.burrow"}}:</label>
        <input class="input__circle-input" name="system.movement.burrow" type="text" value="{{item.system.movement.burrow}}"
            data-dtype="Number">
    </div>
    {{!-- climb Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.climb"}}:</label>
        <input class="input__circle-input" name="system.movement.climb" type="text" value="{{item.system.movement.climb}}"
            data-dtype="Number">
    </div>
    {{!-- Physical Defense Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.physicaldefense"}}:</label>
        <input class="input__circle-input" name="system.movement.physicaldefense" type="text" value="{{item.system.movement.physicaldefense}}"
            data-dtype="Number">
    </div>
    {{!-- Mystic Defense Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.mysticdefense"}}:</label>
        <input class="input__circle-input" name="system.movement.mysticdefense" type="text" value="{{item.system.movement.mysticdefense}}"
            data-dtype="Number">
    </div>
    {{!-- Social Defense Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.socialdefense"}}:</label>
        <input class="input__circle-input" name="system.socialdefense" type="text" value="{{item.system.socialdefense}}"
            data-dtype="Number">
    </div>
    {{!-- Physical Armor Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.physicalarmor"}}:</label>
        <input class="input__circle-input" name="system.physicalarmor" type="text" value="{{item.system.physicalarmor}}"
            data-dtype="Number">
    </div>
    {{!-- Mystic Armor Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.mysticarmor"}}:</label>
        <input class="input__circle-input" name="system.mysticarmor" type="text" value="{{item.system.mysticarmor}}"
            data-dtype="Number">
    </div>
    {{!-- Knock Down Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.knockDownStep"}}:</label>
        <input class="input__circle-input" name="system.knockDownStep" type="text" value="{{item.system.knockDownStep}}"
            data-dtype="Number">
    </div>
    {{!-- Recovery tests Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.recoverytests"}}:</label>
        <input class="input__circle-input" name="system.recoverytests" type="text" value="{{item.system.recoverytests}}"
            data-dtype="Number">
    </div>
    {{!-- Death Rate Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.deathThreshold"}}:</label>
        <input class="input__circle-input" name="system.deathThreshold" type="text" value="{{item.system.deathThreshold}}"
            data-dtype="Number">
    </div>
    {{!-- Unconcious Rate Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.unconsciousThreshold"}}:</label>
        <input class="input__circle-input" name="system.unconsciousThreshold" type="text" value="{{item.system.unconsciousThreshold}}"
            data-dtype="Number">
    </div>
    {{!-- Wound Threshold Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.woundThreshold"}}:</label>
        <input class="input__circle-input" name="system.woundThreshold" type="text" value="{{item.system.woundThreshold}}"
            data-dtype="Number">
    </div>
    {{!-- Attacks Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.attacks"}}:</label>
        <input class="input__circle-input" name="system.attacks" type="text" value="{{item.system.attacks}}"
            data-dtype="Number">
    </div>
    {{!-- Attack Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.attackStepsBonus"}}:</label>
        <input class="input__circle-input" name="system.attackStepsBonus" type="text" value="{{item.system.attackStepsBonus}}"
            data-dtype="Number">
    </div>
    {{!-- Damage Step Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.damageStepsBonus"}}:</label>
        <input class="input__circle-input" name="system.damageStepsBonus" type="text" value="{{item.system.damageStepsBonus}}"
            data-dtype="Number">
    </div>
    {{!-- Challenging Rate Mod --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.challengingRate"}}:</label>
        <input class="input__circle-input" name="system.challengingRate" type="text" value="{{item.system.challengingRate}}"
            data-dtype="Number">
    </div>
    {{!-- powers --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Masks.powers"}}:</label>
        <input name="system.powers" type="text" value="{{item.system.powers}}"
            data-dtype="String">
    </div>
</div>