<div>
    <h3>{{localize "ED.Item.General.details"}}</h3>
    {{!-- weight Multiplier--}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.General.weightMultiplier"}}</label>
        <input class="partial__55--right" type="number" name="system.weightMultiplier"
            value="{{item.system.weightMultiplier}}">
    </div>
    {{!-- Tail Attack --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "X-TailAttack"}}:</label>
        <input class="partial__55--right" type="checkbox" name="system.tailAttack" {{checked
            item.system.tailAttack}}>
    </div>
    {{!-- One Handed Weapon Size Minimum--}}
    <div>
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Namegiver.WeaponSize.OneHanded.min"}}</label>
            <input class="partial__55--right" type="number" name="system.weaponSize.oneHanded.min"
                value="{{item.system.weaponSize.oneHanded.min}}">
        </div>
        {{!-- One Handed Weapon Size Maximum--}}
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Namegiver.WeaponSize.OneHanded.max"}}</label>
            <input class="partial__55--right" type="number" name="system.weaponSize.oneHanded.max"
                value="{{item.system.weaponSize.oneHanded.max}}">
        </div>
    </div>
    {{!-- Two Handed Weapon Size Minimum--}}
    <div>
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Namegiver.WeaponSize.TwoHanded.min"}}</label>
            <input class="partial__55--right" type="number" name="system.weaponSize.twoHanded.min"
                value="{{item.system.weaponSize.twoHanded.min}}">
        </div>
        {{!-- Two Handed Weapon Size Maximum--}}
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Namegiver.WeaponSize.TwoHanded.max"}}</label>
            <input class="partial__55--right" type="number" name="system.weaponSize.twoHanded.max"
                value="{{item.system.weaponSize.twoHanded.max}}">
        </div>
    </div>
</div>