<div>
    
    {{!-- concentration --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Spell.concentration"}}:</label>
        <input class="item-data__checkbox--line" type="checkbox" name="system.concentration">
    </div>
    {{!-- binding --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Spell.binding"}}:</label>
        <input class="item-data__checkbox--line" type="checkbox" name="system.binding">
    </div>
    {{!-- spirit --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Spell.spirit"}}:</label>
        <input class="item-data__checkbox--line" type="checkbox" name="system.spirit">
    </div>
    {{!-- summoning --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Spell.summoning"}}:</label>
        <input class="item-data__checkbox--line" type="checkbox" name="system.summoning">
    </div>
    {{!-- resist --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Spell.resist"}}:</label>
        <input class="item-data__checkbox--line" type="checkbox" name="system.resist">
    </div>
    {{!-- Spell Illusion --}}
    <div class="item-data__input--line">
        <label>{{localize "ED.Item.Spell.sensingDifficulty"}}:</label>
        <input class="input__number-input" name="system.spellIllustion.sensingDifficulty" type="text" value="{{item.system.spellIllustion.sensingDifficulty}}"
            data-dtype="Number">
    </div>
</div>