<div class="input--centered">
  <div id="item-navigation" class="navigator">
    <hr>
    <h4>
      {{localize "ED.Item.Header.navigator"}}
    </h4>
    <nav class="item-sheet-tabs navigator__flex">
      <a class="navigator__tab" data-tab="item-description-tab">{{localize "ED.Item.Navigator.general"}}</a>
      <a class="navigator__tab" id="item-navigator-detials-tab" data-tab="item-details-tab">{{localize "ED.Item.Navigator.details"}}</a>
      <a class="navigator__tab" data-tab="item-effects-tab">{{localize "ED.Item.Navigator.effects"}}</a>
      {{#if isClass }}
        <a class="navigator__tab" data-tab="item-class-tab">{{localize "ED.Item.Navigator.advancement"}}</a>
      {{/if}}
    </nav>
    <hr>
  </div>
</div>