<div class="tab attribute-tab flexcol" data-group="primary" data-tab="attribute-tab">

  <div class="char-gen-attribute-modification flexcol">
    <h3>{{localize "X. Attributes"}}</h3>

    <!-- available attribute points indicator -->
    <div class="availability-meter available-attribute-points flexrow">
      <button class="reset-points" id="char-gen-clear-attribute-points-button" type="button"
              title="X.Clear all assigned attribute modifiers and reset to zero." data-reset-type="attributes">
        <i class="fa-light fa-arrows-rotate"></i>
        {{localize "X.Reset"}}
      </button>
      <label>{{localize "X.Available Attribute Points: "}}{{availableAttributePoints}} (Extra&nbsp;Karma) {{!--format "X.availablePointsKarma" points=... --}}</label>
      <meter value="{{availableAttributePoints}}" min="0" max="{{maxAttributePoints}}">
      </meter>
    </div>

    <!-- attribute modification -->
    <table class="char-gen-attributes">
      <tr>
        <th>{{localize "X.Attribut"}}</th>
        <th>{{localize "X.Startwert"}}</th>
        <th>{{localize "X.Kosten"}}</th>
        <th>{{localize "X.Änderung"}}</th>
        <th>{{localize "X.Wert"}}</th>
        <th>{{localize "X.Stufe"}}</th>
      </tr>
      {{#if namegiverDocument}}
        {{#each object.attributes}}
          <tr data-attribute="{{@key}}">
            <td class="input--centered attribute-label">{{lookup (lookup @root.config.attributes @key)
                                                                 "abbreviation"}}</td>
            <td class="input--centered attribute-base-value">{{lookup
              @root.namegiverDocument.system.attributeValues @key}}</td>
            <td class="input--centered attribute-cost">
                      <span class="preview-value attribute-cost-preview attribute-cost-lower">
                        {{ed-signedNumber ( ed-subtract (lookup @root.config.attributePointsCost (ed-subtract this.change 1)) this.cost )}}
                      </span>
              &emsp;
              {{this.cost}}
              &emsp;
              <span class="preview-value attribute-cost-preview attribute-cost-higher">
                {{ed-signedNumber ( ed-subtract (lookup @root.config.attributePointsCost (ed-add this.change 1)) this.cost )}}
              </span>
            </td>
            <td class="flexrow input--centered attribute-change">
                      <span class="decrease-value-button attribute-decrease attribute-change-icon" title="{{localize 'X.Decrease Attribute Value'}}"
                            data-change-type="decrease" data-attribute="{{@key}}">
                        <i class="fa-light fa-circle-minus"></i>
                      </span>
              <span class="attribute-change-value">
                {{this.change}}
              </span>
              <span class="increase-value-button attribute-increase attribute-change-icon" title="{{localize 'X.Increase Attribute Value'}}"
                    data-change-type="increase" data-attribute="{{@key}}">
                        <i class="fa-light fa-circle-plus"></i>
                      </span>
            </td>
            <td class="input--centered attribute-final-value">{{lookup @root.finalAttributeValues @key}}</td>
            <td class="input--centered attribute-step">{{lookup @root.config.characteristicsTable.step (lookup @root.finalAttributeValues @key)}}</td>
          </tr>
        {{else}}
          <span>Somethings fucked up, that shouldn't happen!</span>
        {{/each}}
      {{else}}
        <tr>{{localize "X.No namegiver selected. Please go select one in the first tab."}}</tr>
      {{/if}}
    </table>

  </div>

  <!-- Previews -->
  <div class="char-gen-characteristics-preview flexcol">
    <h4>{{localize "X.Preview"}}</h4>

    <div class="health-and-characteristics flexrow">
      <!-- health preview -->
      <table id="char-gen-preview-health">
        <thead>
        <tr>
          <th colspan="3">{{localize "X.Health"}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{localize "X.Unconsciousness / Death "}}</td>
          <td>
            <span class="preview-value">{{previews.health.unconsciousness.previous}}&sol;{{previews.health.death.previous}}{{!--format "X.un-death" un-rating=... death-rating=...--}}</span>
            &emsp;
              {{previews.health.unconsciousness.current}}&sol;{{previews.health.death.current}}{{!--format "X.un-death" un-rating=... death-rating=...--}}
            &emsp;
            <span class="preview-value">{{previews.health.unconsciousness.next}}&sol;{{previews.health.death.next}}{{!--format "X.un-death" un-rating=... death-rating=...--}}</span>
          </td>
        </tr>
        <tr>
          <td>{{localize "X.Wound Threshold "}}</td>
          <td>
            <span class="preview-value">{{previews.health.woundThreshold.previous}}</span>
            &emsp;
            {{previews.health.woundThreshold.current}}
            &emsp;
            <span class="preview-value">{{previews.health.woundThreshold.next}}</span>
          </td>
        </tr>
        <tr>
          <td>{{localize "X.Recovery tests per day"}}</td>
          <td>
            <span class="preview-value">{{previews.health.recoveryPerDay.previous}}</span>
            &emsp;
            {{previews.health.recoveryPerDay.current}}
            &emsp;
            <span class="preview-value">{{previews.health.recoveryPerDay.next}}</span>
          </td>
        </tr>
        <tr>
          <td>{{localize "X.Recovery step / Dice "}}</td>
          <td>
            <span class="preview-value">{{previews.health.recoveryStep.previous}}&sol;{{ed-diceFormulaForStep previews.health.recoveryStep.previous}}{{!--format "X.recoveryStepDice" step=... dice=...--}}</span>
            &emsp;
              {{previews.health.recoveryStep.current}}&sol;{{ed-diceFormulaForStep previews.health.recoveryStep.current}}{{!--format "X.recoveryStepDice" step=... dice=...--}}
            &emsp;
            <span class="preview-value">{{previews.health.recoveryStep.next}}&sol;{{ed-diceFormulaForStep previews.health.recoveryStep.next}}{{!--format "X.recoveryStepDice" step=... dice=...--}}</span>
          </td>
        </tr>
        </tbody>
      </table>

      <!-- characteristics preview -->
      <table id="char-gen-preview-characteristics">
        <thead>
        <tr>
          <th colspan="3">{{localize "X.Characteristics"}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="3">{{localize "X.Defenses"}}</td>
          <td>{{localize "X.Physical"}}</td>
          <td>
            <span class="preview-value">{{previews.characteristics.defenses.physical.previous}}</span>
            &emsp;
            {{previews.characteristics.defenses.physical.current}}
            &emsp;
            <span class="preview-value">{{previews.characteristics.defenses.physical.next}}</span>
          </td>
        </tr>
        <tr>
          <td>{{localize "X.Mystic"}}</td>
          <td>
            <span class="preview-value">{{previews.characteristics.defenses.mystic.previous}}</span>
            &emsp;
            {{previews.characteristics.defenses.mystic.current}}
            &emsp;
            <span class="preview-value">{{previews.characteristics.defenses.mystic.next}}</span>
          </td>
        </tr>
        <tr>
          <td>{{localize "X.Social"}}</td>
          <td>
            <span class="preview-value">{{previews.characteristics.defenses.social.previous}}</span>
            &emsp;
            {{previews.characteristics.defenses.social.current}}
            &emsp;
            <span class="preview-value">{{previews.characteristics.defenses.social.next}}</span>
          </td>
        </tr>
        <tr>
          <td rowspan="2">{{localize "X.Armor"}}</td>
          <td>{{localize "X.Physical"}}</td>
          <td>
            <span class="preview-value">{{previews.characteristics.armor.physical.previous}}</span>
            &emsp;
            {{previews.characteristics.armor.physical.current}}
            &emsp;
            <span class="preview-value">{{previews.characteristics.armor.physical.next}}</span>
          </td>
        </tr>
        <tr>
          <td>{{localize "X.Mystic"}}</td>
          <td>
            <span class="preview-value">{{previews.characteristics.armor.mystic.previous}}</span>
            &emsp;
            {{previews.characteristics.armor.mystic.current}}
            &emsp;
            <span class="preview-value">{{previews.characteristics.armor.mystic.next}}</span>
          </td>
        </tr>
        <tr>
          <td rowspan="2">{{localize "X.Other"}}</td>
          <td>{{localize "X.Carrying Capacity"}}<br></td>
          <td>
            <span class="preview-value">{{previews.characteristics.other.carryingCapacity.previous}}</span>
            &emsp;
            {{previews.characteristics.other.carryingCapacity.current}}
            &emsp;
            <span class="preview-value">{{previews.characteristics.other.carryingCapacity.next}}</span>
          </td>
        </tr>
        <tr>
          <td>{{localize "X.Initiative base"}}</td>
          <td>
            <span class="preview-value">{{previews.characteristics.other.initiativeStep.previous}}&sol;{{ed-diceFormulaForStep previews.characteristics.other.initiativeStep.previous}}{{!--format "X.Initiative base" step=... dice=....--}}</span>
            &emsp;
              {{previews.characteristics.other.initiativeStep.current}}&sol;{{ed-diceFormulaForStep previews.characteristics.other.initiativeStep.current}}{{!--format "X.Initiative base" step=... dice=....--}}
            &emsp;
            <span class="preview-value">{{previews.characteristics.other.initiativeStep.next}}&sol;{{ed-diceFormulaForStep previews.characteristics.other.initiativeStep.next}}{{!--format "X.Initiative base" step=... dice=....--}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
