<form class="character-generation flexcol" id="character-generation-form" autocomplete="off">

  <div class="header-item__frame">
    <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
  </div>

  <div class="character-generation-prompt-body">

    <div>

      <!-- navigator left -->
      <div class="navigator-section input--centered">
        <nav class="prompt-tabs tabs list__ordered-column--flex" data-group="primary">
          <a class="character-generation-tab" data-tab="namegiver-tab">{{localize "X-Namegiver"}}</a>
          <a class="character-generation-tab" data-tab="class-tab">{{localize "X-Discipline/Questor"}}</a>
          <a class="character-generation-tab" data-tab="attribute-tab">{{localize "X-Attribute"}}</a>
          <a class="character-generation-tab" data-tab="spell-tab">{{localize "X-Spell"}}</a>
          <a class="character-generation-tab" data-tab="skill-tab">{{localize "X-Skill"}}</a>
          <a class="character-generation-tab" data-tab="equipment-tab">{{localize "X-Equipment"}}</a>
        </nav>
      </div>

      <div class="tab-body">

        <!-- tab1: namegiver -->
        <div class="tab namegiver-tab flexcol" data-group="primary" data-tab="namegiver-tab">
          Namegiver

          <div>
            liste von allen Namegivern
          </div>

          <div>
            liste von Sprachen
            checkliste für Lesen und Schreiben
            Zwergisch ist vorbelegt bei beiden
            Namegiversprache wird auch vorbelegt, nach der auswahl.
          </div>

          <label for="char-gen-namegiver-select">
            {{localize "X.Choose namegiver: "}}
            <select id="char-gen-namegiver-select" name="namegiver">
              <option value="none">&ndash;&ndash;&ndash;</option>
              {{selectOptions namegivers selected=object.namegiver nameAttr="uuid" labelAttr="name"}}
            </select>
          </label>

        </div>

        <!-- tab2: class -->
        <div class="tab class-tab flexcol" data-group="primary" data-tab="class-tab">

          <!-- choose class type: discipline or questor -->
          <div class="discipline-questor-switch-group flexrow">
            <label class="discipline-questor-switch-group flexrow">
              <span class="{{#unless object.isAdept}}deselected-class-type{{/unless}}" id="char-gen-class-type-discipline-label">
                {{localize "ED.General.discipline"}}
              </span>
              <input type="checkbox" name="isAdept" {{checked object.isAdept}} hidden="">
              {{#if object.isAdept}}
                <i id="char-gen-class-type-select-arrow" class="arrow-toggle-switch fas fa-duotone fa-arrow-left-from-line fa-xl"></i>
              {{else}}
                <i id="char-gen-class-type-select-arrow" class="arrow-toggle-switch fas fa-duotone fa-arrow-right-from-line fa-xl"></i>
              {{/if}}
              <span class="{{#if object.isAdept}}deselected-class-type{{/if}}" id="char-gen-class-type-questor-label">
                {{localize "ED.General.questor"}}
              </span>
            </label>
          </div>

          <!-- choose class -->
          <div class="available-disciplines-questors-choices flexrow">
            {{#if object.isAdept}}
              {{radioBoxes "selectedClass" disciplineRadioChoices checked=object.selectedClass}}
            {{else}}
              {{radioBoxes "selectedClass" questorRadioChoices checked=object.selectedClass}}
            {{/if}}
          </div>

          <!-- Abilities explainer -->
          <h4>{{localize "X.Abilities"}}</h4>
          <p class="explainer-text">{{{localize "X. Below you find all abilities that the chosen class is granted on character generation. Please choose <em>one</em> of the optionals by clicking on the talent."}}}</p>

          <!-- Ability selection -->
          <div class="talent-tables flexrow">
            <table class="optional-talents-pool">
              <colgroup>
                <col />
              </colgroup>
              <tr>
                <th>{{localize "X.Optional Talents"}}</th>
              </tr>
              {{#each classDocument.system.advancement.abilityOptions.novice}}
                <tr>
                  <td>
                    <label>
                      {{nameFromUuid this}}
                      <input type="radio" name="abilities.option" value="{{this}}">
                    </label>
                  </td>
                </tr>
              {{/each}}
            </table>
            <table class="class-talents-pool">
              <colgroup>
                <col />
              </colgroup>
              <tr>
                <th>{{localize "X.Class Abilities" classType=classDocument.type}}</th>
              </tr>
              {{#each classDocument.system.advancement.levels.0.abilities}}
                {{#if (hasItems this)}}
                  <th>{{lookup @root.config.abilityPools @key}}</th>
                {{/if}}
                {{#each this}}
                  <tr>
                    <td data-ability-uuid="{{this}}"> {{nameFromUuid this}} </td>
                  </tr>
                {{/each}}
              {{/each}}
            </table>
          </div>

        </div>

        <!-- tab3: attributes -->
        <div class="tab attribute-tab flexcol" data-group="primary" data-tab="attribute-tab">

          <h3>{{localize "X. Attributes"}}</h3>

          <table class="char-gen-attributes">
            <tr>
              <th>{{localize "X.Attribut"}}</th>
              <th>{{localize "X.Startwert"}}</th>
              <th>{{localize "X.Kosten"}}</th>
              <th>{{localize "X.Änderung"}}</th>
              <th>{{localize "X.Wert"}}</th>
              <th>{{localize "X.Stufe"}}</th>
            </tr>
            {{#each object.attributes}}
              <tr data-attribute="{{@key}}">
                <td class="input--centered attribute-label">{{lookup (lookup @root.config.attributes @key) "abbreviation"}}</td>
                <td class="input--centered attribute-base-value">{{lookup @root.namegiverDocument.system.attributeValues @key}}</td>
                <td class="input--centered attribute-cost">{{this.cost}}</td>
                <td class="input--centered attribute-change">
                  <span class="attribute-decrease" title="{{localize 'X.Decrease Attribute Value'}}" data-change-type="decrease" data-attribute="{{@key}}">
                    <i class="fa-light fa-circle-minus"></i>
                  </span>
                  <span class="attribute-change-value">
                    {{this.change}}
                  </span>
                  <span class="attribute-increase" title="{{localize 'X.Increase Attribute Value'}}" data-change-type="increase" data-attribute="{{@key}}">
                    <i class="fa-light fa-circle-plus"></i>
                  </span>
                </td>
                <td class="input--centered attribute-final-value">{{lookup @root.finalAttributeValues @key}}</td>
                <td class="input--centered attribute-step">5</td>
              </tr>
            {{else}}
              <tr>{{localize "X.No namegiver selected. Please go select one in the first tab."}}</tr>
            {{/each}}
          </table>

          <div class="available-attribute-points flexrow">
            <label>{{localize "X.Available Attribute Points: "}}{{availableAttributePoints}}</label>
            <meter value="{{availableAttributePoints}}" min="0" max="{{maxAttributePoints}}">
            </meter>
          </div>

          <button id="char-gen-clear-attribute-points-button" type="button" title="X.Clear all assigned attribute modifiers and reset to zero.">
            <i class="fa-light fa-arrows-rotate"></i>
            {{localize "X.Reset"}}
          </button>

        </div>

        <!-- tab4: spells -->
        <div class="tab spell-tab" data-group="primary" data-tab="spell-tab">
          <div>
            Spells
          </div>
          <div>
            doppel click schiebt die Ability in die andere Tabelle
          </div>
          <div>
            <Table>
              <tr>
                <th>Optionen</th>
                <th>Gewählt</th>
              </tr>
              <tr>
                <td class="input--centered">
                  Zauber Kreis 1
                </td>
                <td class="input--centered">
                  gewählter Zauber
                </td>
              </tr>
              <tr>
                <td class="input--centered">
                  Zauber Kreis 1
                </td>
                <td class="input--centered">
                  gewählter Zauber
                </td>
              </tr>
              <tr>
                <td class="input--centered">
                  Zauber Kreis 1
                </td>
                <td class="input--centered">
                  gewählter Zauber
                </td>
              </tr>
              <tr>
                <td class="input--centered">
                  Zauber Kreis 1
                </td>
                <td class="input--centered">

                </td>
              </tr>
              <tr>
                <td class="input--centered">
                  Zauber Kreis 1
                </td>
                <td class="input--centered">

                </td>
              </tr>
              <tr>
                <td class="input--centered">
                  Zauber Kreis 2
                </td>
                <td class="input--centered">

                </td>
              </tr>
              <tr>
                <td class="input--centered">
                  Zauber Kreis 2
                </td>
                <td class="input--centered">

                </td>
              </tr>
              <tr>
                <td class="input--centered">
                  Zauber Kreis 2
                </td>
                <td class="input--centered">

                </td>
              </tr>
            </Table>
          </div>
        </div>
        <!-- tab5: skill -->
        <div class="tab skill-tab" data-group="primary" data-tab="skill-tab">
          Skill
          <Table>
            <tr>
              <th>Optionen</th>
              <th>Gewählt</th>
            </tr>
            <tr>
              <td class="input--centered">
                Knowledge Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Knowledge Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Knowledge Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Knowledge Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Knowledge Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Knowledge Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Knowledge Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Knowledge Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
          </Table>

          <Table>
            <tr>
              <th>Optionen</th>
              <th>Gewählt</th>
            </tr>
            <tr>
              <td class="input--centered">
                General Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                General Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                General Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                General Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                General Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                General Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                General Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                General Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
          </Table>

          <Table>
            <tr>
              <th>Optionen</th>
              <th>Gewählt</th>
            </tr>
            <tr>
              <td class="input--centered">
                Artisan Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Artisan Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Artisan Skill
              </td>
              <td class="input--centered">
                gewählter Skill
              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Artisan Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Artisan Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Artisan Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Artisan Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
            <tr>
              <td class="input--centered">
                Artisan Skill
              </td>
              <td class="input--centered">

              </td>
            </tr>
          </Table>
        </div>
        <!-- tab6: equipment -->
        <div class="tab equipment-tab" data-group="primary" data-tab="equipment-tab">
          Equipment
          <div>
            übersicht über standard equipment und das wars.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons character-generation-buttons flexcol">
    <div class="button-group buttons-navigation flexrow">
      <button class='previous default button-previous' type="button" name="previous" data-button='previous' {{disabled
        hasNoPreviousStep}}>
        <i class="fas fa-solid fa-angles-left"></i>&emsp;{{ localize 'X-previous' }}
      </button>
      <button class='next default button-next' type="button" name="next" data-button='next' {{disabled hasNoNextStep}}>
          {{ localize 'X-next' }}&emsp;<i class="fas fa-solid fa-angles-right"></i>
      </button>
    </div>
    <div class="button-group buttons-ending flexrow">
      <button class='cancel button-cancel' type="button" name="cancel" data-button='cancel'>
        {{ localize 'X-cancel' }}
      </button>
      <button class='ok default button-ok' type="submit" name="submit" data-button='ok'>
        {{ localize 'X-finish' }}
      </button>
    </div>
  </div>
  <div class="footer-item__frame">
    <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
  </div>
</form>