<form class="character-generation flexcol" id="character-generation-form" autocomplete="off">
       <header class="header__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
              <title>{{actor.name}}</title>
       </header>
  <!-- Body -->
  <div class="character-generation-prompt-body body">

    <div>

      <!-- navigator -->
      <div class="navigator-section input--centered">
        <nav class="prompt-tabs tabs list__ordered-column--flex" data-group="primary">
          <a class="character-generation-tab" data-tab="namegiver-tab">{{localize "X-Namegiver"}}</a>
          <a class="character-generation-tab" data-tab="class-tab">{{localize "X-Discipline/Questor"}}</a>
          <a class="character-generation-tab" data-tab="attribute-tab">{{localize "X-Attribute"}}</a>
          <a class="character-generation-tab" data-tab="spell-tab">{{localize "X-Spell"}}</a>
          <a class="character-generation-tab" data-tab="skill-tab">{{localize "X-Skill"}}</a>
          <a class="character-generation-tab" data-tab="language-tab">{{localize "X-Languages"}}</a>
          <a class="character-generation-tab" data-tab="equipment-tab">{{localize "X-Equipment"}}</a>
        </nav>
      </div>

      <!-- tab bodies -->
      <div class="tab-body">

        <!-- tab1: namegiver -->
        {{> "systems/ed4e/templates/actor/generation/namegiver-selection.hbs"}}

        <!-- tab2: class -->
        {{> "systems/ed4e/templates/actor/generation/class-selection.hbs"}}

        <!-- tab3: attributes -->
        {{> "systems/ed4e/templates/actor/generation/attribute-assignment.hbs"}}

        <!-- tab4: spells -->
        {{> "systems/ed4e/templates/actor/generation/spell-selection.hbs"}}

        <!-- tab5: skill -->
        {{> "systems/ed4e/templates/actor/generation/skill-selection.hbs"}}

        <!-- tab6: equipment -->
        {{> "systems/ed4e/templates/actor/generation/language-selection.hbs"}}

        <!-- tab7: equipment -->
        {{> "systems/ed4e/templates/actor/generation/equipment.hbs"}}

      </div>
    </div>
  </div>

  <!-- Buttons -->

  <div class="buttons character-generation-buttons flexcol">

    <!-- Previous/Next Buttons -->
    <div class="button-group buttons-navigation flexrow">
      <button class='previous default button-previous' type="button" name="previous" data-button='previous' {{disabled
        hasNoPreviousStep}}>
        <i class="fas fa-solid fa-angles-left"></i>&emsp;{{ localize 'X-previous' }}
      </button>
      <button class='next default button-next' type="button" name="next" data-button='next' {{disabled hasNoNextStep}}>
          {{ localize 'X-next' }}&emsp;<i class="fas fa-solid fa-angles-right"></i>
      </button>
    </div>

    <!-- Form Buttons -->
    <div class="button-group buttons-ending flexrow">
      <button class='cancel button-cancel' type="button" name="cancel" data-button='cancel'>
        {{ localize 'X-cancel' }}
      </button>
      <button class='ok default button-ok' type="submit" name="submit" data-button='ok'>
        {{ localize 'X-finish' }}
      </button>
    </div>

  </div>

  <!-- Footer -->
  <footer class="footer__frame">
              <img src="systems/ed4e/assets/foundry/background-vasgothia2.png">
       </footer>

</form>