<div class="tab language-tab" data-group="primary" data-tab="language-tab">
  <h3>{{localize "X.Languages"}}</h3>
  <h4>{{localize "X.Speak"}}</h4>
  {{formField object.schema.fields.languages.fields.speak value=object.languages.speak name="languages.speak"}}
  <h4>{{localize "X.Read / Write"}}</h4>
  {{formField object.schema.fields.languages.fields.readWrite value=object.languages.readWrite name="languages.readWrite"}}
</div>