<div class="tab skill-tab flexcol" data-group="primary" data-tab="skill-tab">

  <h3>{{localize "X.Skills"}}</h3>

  <!-- Skills explainer -->
  <p class="explainer-text">
    {{{localize "X. Below you find all available skills. Add ranks by clicking on the plus and minus. General Skill Points can be used on artisan and knowledge skill."}}}
  </p>
  <button class="reset-points" id="char-gen-clear-talent-ranks-button" type="button"
          title="X.Clear all assigned ranks and reset to zero." data-reset-type="skills">
    <i class="fa-light fa-arrows-rotate"></i>
    {{localize "X.Reset"}}
  </button>

  <div class="flexcol skill-assignment">

    <!-- Artisan Skills -->
    <div class="skill-options artisan-skills flexrow">
      <table>
        <tr>
          <th>{{localize "X.Artisan Options"}}</th>
        </tr>
        {{#each skills.artisan}}
          <tr class="flexrow" data-skill-uuid="{{this.uuid}}">
            <td class=" ability-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
              {{this.name}}
            </td>
            <td class="flexrow rank-change">
              {{#if (ed-hasOwnProperty @root.object.abilities.artisan this.uuid)}}
                <span class="decrease-value-button rank-decrease rank-change-icon" title="{{localize 'X.Decrease Rank Value'}}"
                      data-change-type="decrease" data-ability-uuid="{{this.uuid}}" data-ability-type="artisan">
                  <i class="fa-light fa-circle-minus"></i>
              {{/if}}
                </span>
                <span class="rank-change-value">
                  {{lookup @root.object.abilities.artisan this.uuid}}
                </span>
                <span class="increase-value-button rank-increase rank-change-icon" title="{{localize 'X.Increase Rank Value'}}"
                      data-change-type="increase" data-ability-uuid="{{this.uuid}}" data-ability-type="artisan">
                  <i class="fa-light fa-circle-plus"></i>
                </span>
            </td>
          </tr>
        {{else}}
          {{localize "X.No Artisan Skills available."}}
        {{/each}}
      </table>

      <span class="flexcol availability-meter available-ranks available-artisan-ranks">
        <label class="flexcol">
          {{localize "X.Available Artisan Ranks: "}}{{object.availableRanks.artisan}}{{!--format "X.availablePointsKarma" points=... --}}
        </label>
        <meter value="{{object.availableRanks.artisan}}" min="0" max="{{config.availableRanks.artisan}}"></meter>
      </span>
    </div>

    <!-- Knowledge Skills -->
    <div class="skill-options knowledge-skills flexrow">
      <table>
        <tr>
          <th>{{localize "X.Knowledge Options"}}</th>
        </tr>
        {{#each skills.knowledge}}
          <tr class="flexrow" data-skill-uuid="{{this.uuid}}">
            <td class=" ability-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
              {{this.name}}
            </td>
            <td class="flexrow rank-change">
              {{#if (ed-hasOwnProperty @root.object.abilities.knowledge this.uuid)}}
              <span class="decrease-value-button rank-decrease rank-change-icon" title="{{localize 'X.Decrease Rank Value'}}"
                    data-change-type="decrease" data-ability-uuid="{{this.uuid}}" data-ability-type="knowledge">
                  <i class="fa-light fa-circle-minus"></i>
              </span>
              {{/if}}
              <span class="rank-change-value">
                {{lookup @root.object.abilities.knowledge this.uuid}}
              </span>
              <span class="increase-value-button rank-increase rank-change-icon" title="{{localize 'X.Increase Rank Value'}}"
                    data-change-type="increase" data-ability-uuid="{{this.uuid}}" data-ability-type="knowledge">
                <i class="fa-light fa-circle-plus"></i>
              </span>
            </td>
          </tr>
        {{else}}
          {{localize "X.No Knowledge Skills available."}}
        {{/each}}
      </table>

      <span class="flexcol availability-meter available-ranks available-knowledge-ranks">
        <label class="flexcol">
          {{localize "X.Available Knowledge Ranks: "}}{{object.availableRanks.knowledge}}{{!--format "X.availablePointsKarma" points=... --}}
        </label>
        <meter value="{{object.availableRanks.knowledge}}" min="0" max="{{config.availableRanks.knowledge}}"></meter>
      </span>
    </div>

    <!-- Language Skills -->
    <div class="skill-options language-skills flexrow">
      <table>
        <tr>
          <th>{{localize "X.Language Options"}}</th>
        </tr>
        {{log this}}
        {{#each skills.language}}
          <tr class="flexrow" data-skill-uuid="{{this.uuid}}">
            <td class=" ability-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
              {{this.name}}
            </td>
            <td class="flexrow rank-change">
              {{#if (ed-hasOwnProperty @root.object.abilities.language this.uuid)}}
                <span class="decrease-value-button rank-decrease rank-change-icon" title="{{localize 'X.Decrease Rank Value'}}"
                      data-change-type="decrease" data-ability-uuid="{{this.uuid}}" data-ability-type="language">
                  <i class="fa-light fa-circle-minus"></i>
              </span>
              {{/if}}
              <span class="rank-change-value">
                {{lookup @root.object.abilities.language this.uuid}}
              </span>
              <span class="increase-value-button rank-increase rank-change-icon" title="{{localize 'X.Increase Rank Value'}}"
                    data-change-type="increase" data-ability-uuid="{{this.uuid}}" data-ability-type="language">
                <i class="fa-light fa-circle-plus"></i>
              </span>
            </td>
          </tr>
        {{else}}
          {{localize "X.No Language Skills available."}}
        {{/each}}
      </table>

      <span class="flexcol available-ranks available-language-ranks">
        {{localize "X.You always have a minimum of 2 ranks in Speaking, and 1 rank in Reading/Writing. You can assign more, if wanted."}}
      </span>
    </div>

    <!-- General Skills -->
    <div class="skill-options general-skills flexrow">
      <table>
        <tr>
          <th>{{localize "X.General Options"}}</th>
        </tr>
        {{#each skills.general}}
          <tr class="flexrow" data-skill-uuid="{{this.uuid}}">
            <td class=" ability-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
              {{this.name}}
            </td>
            <td class="flexrow rank-change">
              {{#if (ed-hasOwnProperty @root.object.abilities.general this.uuid)}}
              <span class="decrease-value-button rank-decrease rank-change-icon" title="{{localize 'X.Decrease Rank Value'}}"
                    data-change-type="decrease" data-ability-uuid="{{this.uuid}}" data-ability-type="general">
                  <i class="fa-light fa-circle-minus"></i>
              </span>
              {{/if}}
              <span class="rank-change-value">
                {{lookup @root.object.abilities.general this.uuid}}
              </span>
              <span class="increase-value-button rank-increase rank-change-icon" title="{{localize 'X.Increase Rank Value'}}"
                    data-change-type="increase" data-ability-uuid="{{this.uuid}}" data-ability-type="general">
                  <i class="fa-light fa-circle-plus"></i>
                </span>
            </td>
          </tr>
        {{else}}
          {{localize "X.No General Skills available."}}
        {{/each}}
      </table>

      <span class="flexcol availability-meter available-ranks available-general-ranks">
        <label class="flexcol">
          {{localize "X.Available General Ranks: "}}{{object.availableRanks.general}}{{!--format "X.availablePointsKarma" points=... --}}
        </label>
        <meter value="{{object.availableRanks.general}}" min="0" max="{{config.availableRanks.general}}"></meter>
      </span>
    </div>

  </div>

</div>
