<div class="tab spell-tab" data-group="primary" data-tab="spell-tab">

  <h3>{{localize "X.Spells"}}</h3>

  <!-- Skills explainer -->
  <p class="explainer-text">
    {{localize "X. Below you find all spells available to your selected discipline. You have points available equal to your Perception step. Each spell costs points equal to it's level. Spells can have a maximum level of game.settings."}}
  </p>
  <button class="reset-points" id="char-gen-clear-spell-selection-button" type="button"
          title="X.Reset all selected spells." data-reset-type="spells">
    <i class="fa-light fa-arrows-rotate"></i>
    {{localize "X.Reset"}}
  </button>

  <div class="flexcol spell-selection">
    <table>
      <thead>
      <tr>
        <th colspan="2">Spells</th>
      </tr>
      </thead>
      <tbody>
      {{#each spells}}
      <tr>
        {{log this}}
        <td class="spell-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
          {{this.name}}
        </td>
        <td></td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

</div>
