<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Dexterity Value --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.dexterityValue"}}:</label>
        <input class="input__circle-input" name="system.attributeValues.dexterity" type="text" value="{{item.system.attributeValues.dexterity}}"
            data-dtype="Number">
    </div>
    {{!-- Strength Value --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.strengthValue"}}:</label>
        <input class="input__circle-input" name="system.attributeValues.strength" type="text" value="{{item.system.attributeValues.strength}}"
            data-dtype="Number">
    </div>
    {{!-- Toughness Value --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.toughnessValue"}}:</label>
        <input class="input__circle-input" name="system.attributeValues.toughness" type="text" value="{{item.system.attributeValues.toughness}}"
            data-dtype="Number">
    </div>
    {{!-- Perception Value --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.perceptionValue"}}:</label>
        <input class="input__circle-input" name="system.attributeValues.perception" type="text" value="{{item.system.attributeValues.perception}}"
            data-dtype="Number">
    </div>
    {{!-- Willpower Value --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.willpowerValue"}}:</label>
        <input class="input__circle-input" name="system.attributeValues.willpower" type="text" value="{{item.system.attributeValues.willpower}}"
            data-dtype="Number">
    </div>
    {{!-- Charisma Value --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.charismaValue"}}:</label>
        <input class="input__circle-input" name="system.attributeValues.charisma" type="text" value="{{item.system.attributeValues.charisma}}"
            data-dtype="Number">
    </div>
    {{!-- Karma Modifier --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.karmamodifier"}}:</label>
        <input class="input__circle-input" name="system.karmamodifier" type="text" value="{{item.system.karmamodifier}}"
            data-dtype="Number">
    </div>
    {{!-- Walk Movement --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.walk"}}:</label>
        <input class="input__circle-input" name="system.movement.walk" type="text" value="{{item.system.movement.walk}}"
            data-dtype="Number">
    </div>
    {{!-- Fly Movement --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.fly"}}:</label>
        <input class="input__circle-input" name="system.movement.fly" type="text" value="{{item.system.movement.fly}}"
            data-dtype="Number">
    </div>
    {{!-- Swim Movement --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.swim"}}:</label>
        <input class="input__circle-input" name="system.movement.swim" type="text" value="{{item.system.movement.swim}}"
            data-dtype="Number">
    </div>
    {{!-- Burrow Movement --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.burrow"}}:</label>
        <input class="input__circle-input" name="system.movement.burrow" type="text" value="{{item.system.movement.burrow}}"
            data-dtype="Number">
    </div>
    {{!-- Climb Movement --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Namegiver.climb"}}:</label>
        <input class="input__circle-input" name="system.movement.climb" type="text" value="{{item.system.movement.climb}}"
            data-dtype="Number">
    </div>
</div>
<div class="item__right--main item-sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>