<div id="base-information-armor-item" class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Physical Armor --}}
    {{formField systemFields.physical.fields.armor name="system.physical.armor" value=item.system.physical.armor localize=true}}
    {{!-- Mystical Armor --}}
    {{formField systemFields.mystical.fields.armor name="system.mystical.armor" value=item.system.mystical.armor localize=true}}
    {{!-- Physical Forge Bonus --}}
    {{formField systemFields.physical.fields.forgeBonus name="system.physical.forgeBonus" value=item.system.physical.forgeBonus localize=true}}
    {{!-- Mystical Forge Bonus --}}
    {{formField systemFields.mystical.fields.forgeBonus name="system.mystical.forgeBonus" value=item.system.mystical.forgeBonus localize=true}}
    {{!-- Initiative Penalty --}}
    {{formField systemFields.initiativePenalty name="system.initiativePenalty" value=item.system.initiativePenalty localize=true}}
    {{!-- living Armor? --}}
    {{formField systemFields.isLiving name="system.isLiving" value=item.system.isLiving localize=true}}
    {{!-- Physical Item Parameter --}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/physical-items.hbs"}}
</div>
<div class="item__right--main sheet__editor">
    {{!-- Description --}}
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>