<div class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Rank --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Knack.rank"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.level" type="text" value="{{item.system.level}}"
            data-dtype="Number">
    </div>
    {{!-- Strain --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Knack.strain"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.strain" type="text" value="{{item.system.strain}}"
            data-dtype="Number">
    </div>
    {{!-- Attribute --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Knack.attribute"}}:</label>
        <select class="partial__55--right" name="system.attribute">
            {{selectOptions config.attributes selected=item.system.attribute blank="" labelAttr="label" localize=true }}
        </select>
    </div>
    {{!-- Action --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Knack.action"}}:</label>
        <select class="partial__55--right" name="system.action">
            {{selectOptions config.action selected=item.system.action localize=true }}
        </select>
    </div>


    {{!-- Standard Effect --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Knack.standardEffect"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.standardEffect" type="checkbox" value="{{item.system.standardEffect}}">
    </div>
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>