<div id="base-information-attack-item" class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Power Step --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Power.powerStep"}}:</label>
        <input class="input__circle-input" name="system.powerStep" type="text" value="{{item.system.powerStep}}"
            data-dtype="Number">
    </div>
    {{!-- Damage Step --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Power.damageStep"}}:</label>
        <input class="input__circle-input" name="system.damageStep" type="text" value="{{item.system.damageStep}}"
            data-dtype="Number">
    </div>
    {{!-- Strain --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.General.strainShort"}}:</label>
        <input class="input__circle-input" name="system.strain" type="text" value="{{item.system.strain}}"
            data-dtype="Number">
    </div>
    {{!-- Action --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Action.action"}}:</label>
        <select name="system.action">
            {{selectOptions config.action selected=item.system.action localize=true }}
        </select>
    </div>
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>