<div id="base-information-armor-item" class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Physical Armor --}}
    {{!-- <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Armor.physicalArmor"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.physical.armor" type="text" value="{{item.system.physical.armor}}"
            data-dtype="Number">
    </div> --}}
    {{!-- <div class="item-data__input--line"> --}}
        {{formField systemFields.physical.fields.armor name="system.physical.armor" value=item.system.physical.armor hint="" localize=true}}
    {{!-- </div>  --}}
    {{!-- Mystische Armor --}}
    {{!-- <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Armor.mysticalArmor"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.mystical.armor" type="text" value="{{item.system.mystical.armor}}"
            data-dtype="Number">
    </div> --}}
    {{!-- <div class="item-data__input--line"> --}}
        {{formField systemFields.mystical.fields.armor name="system.mystical.armor" value=item.system.mystical.armor localize=true}}
    {{!-- </div>  --}}
    {{!-- Forged Physical Armor --}}
    {{!-- <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Armor.forgeBonusPhysicalShort"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.physical.forgeBonus" type="text" value="{{item.system.physical.forgeBonus}}"
            data-dtype="Number">
    </div> --}}
    {{!-- <div class="item-data__input--line"> --}}
        {{formField systemFields.physical.fields.forgeBonus name="system.physical.forgeBonus" value=item.system.physical.forgeBonus localize=true}}
    {{!-- </div> --}}
    {{!-- Forged Mystische Armor --}}
    {{!-- <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Armor.forgeBonusMysticalShort"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.mystical.forgeBonus" type="text" value="{{item.system.mystical.forgeBonus}}"
            data-dtype="Number">
    </div> --}}
        {{!-- <div class="item-data__input--line"> --}}
        {{formField systemFields.mystical.fields.forgeBonus name="system.mystical.forgeBonus" value=item.system.mystical.forgeBonus localize=true}}
    {{!-- </div> --}}
    {{!-- Initiative Penalty --}}
    {{!-- <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Armor.initiativePenalty"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.initiativePenalty" type="text" value="{{item.system.initiativePenalty}}"
            data-dtype="Number">
    </div> --}}
    {{!-- <div class="item-data__input--line"> --}}
        {{formField systemFields.initiativePenalty name="system.initiativePenalty" value=item.system.initiativePenalty localize=true}}
    {{!-- </div> --}}
    {{!-- living armor --}}
    {{!-- <div class="item-data__input--line"> --}}
        {{formField systemFields.living name="system.living" value=item.system.living localize=true}}
    {{!-- </div> --}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/descriptions/partials/physical-items.hbs"}}
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>