<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Rank --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.General.rank"}}:</label>
        <input class="input__circle-input" name="system.level" type="text" value="{{item.system.level}}"
            data-dtype="Number">
    </div>
    {{!-- Strain --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.General.strainShort"}}:</label>
        <input class="input__circle-input" name="system.strain" type="text" value="{{item.system.strain}}"
            data-dtype="Number">
    </div>
    {{!-- Attribute --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Attributes.attribute"}}:</label>
        <select name="system.attribute">
            {{selectOptions config.attributes selected=item.system.attribute blank="" labelAttr="label" localize=true }}
        </select>
    </div>
    {{!-- Action --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Action.action"}}:</label>
        <select name="system.action">
            {{selectOptions config.action selected=item.system.action localize=true }}
        </select>
    </div>
    {{!-- Tier --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Tier.tier"}}:</label>
        <select name="system.source.tier">
            {{selectOptions config.tier selected=item.system.source.tier localize=true }}
        </select>
    </div>
    {{!-- talent Category --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Tier.talentCategory"}}:</label>
        <select name="system.talentCategory">
            {{selectOptions config.talentCategory selected=item.system.talentCategory localize=true }}
        </select>
    </div>
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>