<div id="base-information-curse-item" class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Curse Step --}}
    {{formField systemFields.step name="system.step" value=item.system.step localize=true}}
    {{!-- Curse Type --}}
    {{formField systemFields.type name="system.type" value=item.system.type localize=true}}
    {{!-- active --}}
    {{formField systemFields.active name="system.active" value=item.system.active localize=true}}
    {{!-- detected --}}
    {{formField systemFields.detected name="system.detected" value=item.system.detected localize=true}}
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>