<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Dexterity Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.dexterityValue"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.attributeValues.dex" type="number" value="{{item.system.attributeValues.dex}}"
            data-dtype="Number">
    </div>
    {{!-- Strength Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.strengthValue"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.attributeValues.str" type="number" value="{{item.system.attributeValues.str}}"
            data-dtype="Number">
    </div>
    {{!-- Toughness Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.toughnessValue"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.attributeValues.tou" type="number" value="{{item.system.attributeValues.tou}}"
            data-dtype="Number">
    </div>
    {{!-- Perception Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.perceptionValue"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.attributeValues.per" type="number" value="{{item.system.attributeValues.per}}"
            data-dtype="Number">
    </div>
    {{!-- Willpower Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.willpowerValue"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.attributeValues.wil" type="number" value="{{item.system.attributeValues.wil}}"
            data-dtype="Number">
    </div>
    {{!-- Charisma Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.charismaValue"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.attributeValues.cha" type="number" value="{{item.system.attributeValues.cha}}"
            data-dtype="Number">
    </div>
    {{!-- Karma Modifier --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.karmaModifier"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.karmaModifier" type="number" value="{{item.system.karmaModifier}}"
            data-dtype="Number">
    </div>
    {{!-- Walk Movement --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.walk"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.movement.walk" type="number" value="{{item.system.movement.walk}}"
            data-dtype="Number">
    </div>
    {{!-- Fly Movement --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.fly"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.movement.fly" type="number" value="{{item.system.movement.fly}}"
            data-dtype="Number">
    </div>
    {{!-- Swim Movement --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.swim"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.movement.swim" type="number" value="{{item.system.movement.swim}}"
            data-dtype="Number">
    </div>
    {{!-- Burrow Movement --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.burrow"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.movement.burrow" type="number" value="{{item.system.movement.burrow}}"
            data-dtype="Number">
    </div>
    {{!-- Climb Movement --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.climb"}}:</label>
        <input class="input__circle-input partial__55--right" name="system.movement.climb" type="number" value="{{item.system.movement.climb}}"
            data-dtype="Number">
    </div>
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>