<div class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Fire Power Points --}}
    {{formField systemFields.firePowerPoints name="system.firePowerPoints" value=item.system.firePowerPoints hint="" localize=true}}
    {{!-- Crew required to fire the weapon --}}
    {{formField systemFields.crewWeapon name="system.crewWeapon" value=item.system.crewWeapon hint="" localize=true}}
    {{!-- Short Range --}}
    {{formField systemFields.range.fields.short name="system.range.short" value=item.system.range.short hint="" localize=true}}
    {{!-- Long Range --}}
    {{formField systemFields.range.fields.long name="system.range.long" value=item.system.range.long hint="" localize=true}}
    {{!-- Salvo Cost --}}
    {{formField systemFields.salvoCost name="system.salvoCost" value=item.system.salvoCost hint="" localize=true}}
    {{!-- Weapon Damage against single Namegivers --}}
    {{formField systemFields.characterDamage name="system.characterDamage" value=item.system.characterDamage hint="" localize=true}}
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>