<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Physical Defense Bonus --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Shield.Label.defenseBonusPhysical"}}:</label>
        <input class="input__circle-input" name="system.defenseBonus.physical" type="text" value="{{item.system.defenseBonus.physical}}"
            data-dtype="Number">
    </div>
    {{!-- Mystische Defense Bonus --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Shield.Label.defenseBonusMystical"}}:</label>
        <input class="input__circle-input" name="system.defenseBonus.mystical" type="text" value="{{item.system.defenseBonus.mystical}}"
            data-dtype="Number">
    </div>
    {{!-- living armor --}}
    <div class="item-data__input--line">
        {{formField systemFields.living name="system.living" value=item.system.living localize=true}}
    </div>
    {{!-- SHatter Threshold --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Shield.Hint.shatterThreshold"}}:</label>
        <input class="input__circle-input" name="system.shatterThreshold" type="text" value="{{item.system.shatterThreshold}}"
            data-dtype="Number">
    </div>
    {{!-- Initiative Penalty --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Shield.Hint.initiativePenalty"}}:</label>
        <input class="input__circle-input" name="system.initiativePenalty" type="text" value="{{item.system.initiativePenalty}}"
            data-dtype="Number">
    </div>
    {{!-- price --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.General.price"}}:</label>
        <input class="input__number-input" name="system.price.value" type="text" value="{{item.system.price.value}}"
            data-dtype="Number">
            <select name="system.price.denomination">
                {{selectOptions config.denomination selected=item.system.price.denomination localize=true }}
            </select>
    </div>
    {{!-- Weight --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.General.weight"}}:</label>
        <input class="input__number-input" name="system.weight.value" type="text" value="{{item.system.weight.value}}"
            data-dtype="Number">
    </div>
    {{!-- availability --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Availability.availability"}}:</label>
        <select name="system.availability">
            {{selectOptions config.availability selected=item.system.availability localize=true }}
        </select>
    </div>
    {{!-- Broken --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Shield.Label.broken"}}:</label>
        <input class="item-data__checkbox--line" type="checkbox" name="system.broken">
    </div>
</div>
{{!-- Editor --}}
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>