<div id="base-information-attack-item" class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Power Step --}}
    {{formField systemFields.powerStep name="system.powerStep" value=item.system.powerStep hint="" localize=true}}
    {{!-- Damage Step --}}
    {{formField systemFields.damageStep name="system.damageStep" value=item.system.damageStep hint="" localize=true}}
    {{!-- Strain --}}
    {{formField systemFields.strain name="system.strain" value=item.system.strain hint="" localize=true}}
    {{!-- Action --}}
    {{formField systemFields.action name="system.action" value=item.system.action hint="" localize=true}}
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>