<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Weapon Type --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.weaponType"}}:</label>
        <select name="system.weaponType">
            {{selectOptions config.weaponType selected=item.system.weaponType blank="" localize=true }}
        </select>
    </div>
    {{!-- Damage Attribute --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.damageAttribute"}}:</label>
        <select name="system.damage.attribute">
            {{selectOptions config.attributes selected=item.system.damage.attribute labelAttr="label" localize=true }}
        </select>
    </div>
    {{!-- Mystische Armor --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.damageBaseStep"}}:</label>
        <input class="input__circle-input" name="system.damage.baseStep" type="text" value="{{item.system.damage.baseStep}}"
            data-dtype="Number">
    </div>
    {{!-- Forged Physical Armor --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.size"}}:</label>
        <input class="input__circle-input" name="system.size" type="text" value="{{item.system.size}}"
            data-dtype="Number">
    </div>
    {{!-- Forged Mystische Armor --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Label.dexterityMinimum"}}:</label>
        <input class="input__circle-input" name="system.dexterityMinimum" type="text" value="{{item.system.dexterityMinimum}}"
            data-dtype="Number">
    </div>
    {{!-- short Range Min --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.rangeShortMin"}}:</label>
        <input class="input__circle-input" name="system.range.shortMin" type="text" value="{{item.system.range.shortMin}}"
            data-dtype="Number">
    </div>
    {{!-- short Range Max --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.rangeShortMax"}}:</label>
        <input class="input__circle-input" name="system.range.shortMax" type="text" value="{{item.system.range.shortMax}}"
            data-dtype="Number">
    </div>
    {{!-- Long Range Min --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.rangeLongMin"}}:</label>
        <input class="input__circle-input" name="system.range.longMin" type="text" value="{{item.system.range.longMin}}"
            data-dtype="Number">
    </div>
    {{!-- Long Range Max --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.rangeLongMax"}}:</label>
        <input class="input__circle-input" name="system.range.longMax" type="text" value="{{item.system.range.longMax}}"
            data-dtype="Number">
    </div>
    {{!-- ammunition --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Label.ammunition"}}:</label>
         <select name="system.ammunition.type">
                {{selectOptions config.ammunitionType selected=item.system.ammunition.type localize=true }}
            </select>    
    </div>
    {{!-- forgeBonus --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.forgeBonus"}}:</label>
        <input class="input__circle-input" name="system.forgeBonus" type="text" value="{{item.system.forgeBonus}}"
            data-dtype="Number">
    </div>
    {{!-- price --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.General.price"}}:</label>
        <input class="input__number-input" name="system.price.value" type="text" value="{{item.system.price.value}}"
            data-dtype="Number">
            <select name="system.price.denomination">
                {{selectOptions config.denomination selected=item.system.price.denomination localize=true }}
            </select>
    </div>
    {{!-- Weight --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.General.weight"}}:</label>
        <input class="input__number-input" name="system.weight.value" type="text" value="{{item.system.weight.value}}"
            data-dtype="Number">
    </div>
    {{!-- Amount --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.General.amount"}}:</label>
        <input class="input__number-input" name="system.amount" type="text" value="{{item.system.amount}}"
            data-dtype="Number">
    </div>
    {{!-- availability --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Availability.availability"}}:</label>
        <select name="system.availability">
            {{selectOptions config.availability selected=item.system.availability localize=true }}
        </select>
    </div>
</div>
{{!-- Editor --}}
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>