<div class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Dexterity Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.dexterityValue"}}:</label>
        <input class="partial__55--right" name="system.attributeValues.dex" type="number" value="{{item.system.attributeValues.dex}}"
            data-dtype="Number">
    </div>
    {{!-- Strength Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.strengthValue"}}:</label>
        <input class="partial__55--right" name="system.attributeValues.str" type="number" value="{{item.system.attributeValues.str}}"
            data-dtype="Number">
    </div>
    {{!-- Toughness Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.toughnessValue"}}:</label>
        <input class="partial__55--right" name="system.attributeValues.tou" type="number" value="{{item.system.attributeValues.tou}}"
            data-dtype="Number">
    </div>
    {{!-- Perception Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.perceptionValue"}}:</label>
        <input class="partial__55--right" name="system.attributeValues.per" type="number" value="{{item.system.attributeValues.per}}"
            data-dtype="Number">
    </div>
    {{!-- Willpower Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.willpowerValue"}}:</label>
        <input class="partial__55--right" name="system.attributeValues.wil" type="number" value="{{item.system.attributeValues.wil}}"
            data-dtype="Number">
    </div>
    {{!-- Charisma Value --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Namegiver.charismaValue"}}:</label>
        <input class="partial__55--right" name="system.attributeValues.cha" type="number" value="{{item.system.attributeValues.cha}}"
            data-dtype="Number">
    </div>
    {{!-- Karma Modifier --}}
    {{formField systemFields.karmaModifier name="system.karmaModifier" value=item.system.karmaModifier localize=true}}
    {{!-- Walk Movement --}}
    {{formField systemFields.movement.fields.walk name="system.movement.walk" value=item.system.movement.walk localize=true}}
    {{!-- Fly Movement --}}
    {{formField systemFields.movement.fields.fly name="system.movement.fly" value=item.system.movement.fly localize=true}}
    {{!-- Swim Movement --}}
    {{formField systemFields.movement.fields.swim name="system.movement.swim" value=item.system.movement.swim localize=true}}
    {{!-- Burrow Movement --}}
    {{formField systemFields.movement.fields.burrow name="system.movement.burrow" value=item.system.movement.burrow localize=true}}
    {{!-- Climb Movement --}}
    {{formField systemFields.movement.fields.climb name="system.movement.climb" value=item.system.movement.climb localize=true}}
</div>
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>