<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Weapon Type --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.weaponType"}}:</label>
        <select class="partial__55--right" name="system.weaponType">
            {{selectOptions config.weaponType selected=item.system.weaponType blank="" localize=true labelAttr="label" }}
        </select>
    </div>
        {{#if item.system.isRanged}}
            {{!-- ammunition - Type --}}
            <div class="item-data__input--line">
                <label for="" class="partial__40--left">{{localize "ED.Item.Weapon.ammunitionType"}}:</label>
                <select class="partial__55--right" name="system.ammunition.type">
                    {{selectOptions config.ammunitionType selected=item.system.ammunition.type blank="" localize=true }}
                </select>
            </div>
        {{/if}}
    
    {{!-- Damage Attribute --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.damageAttribute"}}:</label>
        <select class="partial__55--right" name="system.damage.attribute">
            {{selectOptions config.attributes selected=item.system.damage.attribute labelAttr="label" localize=true }}
        </select>
    </div>
    {{!-- Damage base Step --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.damageBaseStep"}}:</label>
        <input class="partial__55--right" name="system.damage.baseStep" type="text"
            value="{{item.system.damage.baseStep}}" data-dtype="Number">
    </div>
    {{!-- Weapon Size --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.size"}}:</label>
        <input class="partial__55--right" name="system.size" type="text" value="{{item.system.size}}"
            data-dtype="Number">
    </div>
    {{!-- Dexterity Minimum --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.dexterityMinimum"}}:</label>
        <input class="partial__55--right" name="system.dexterityMinimum" type="text"
            value="{{item.system.dexterityMinimum}}" data-dtype="Number">
    </div>
    {{!-- Strength Minimum --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.strengthMinimum"}}:</label>
        <input class="partial__55--right" name="system.strengthMinimum" type="text"
            value="{{item.system.strengthMinimum}}" data-dtype="Number">
    </div>
    {{#if item.system.isRanged}}
        {{!-- short range Min --}}
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Weapon.rangeShortMin"}}:</label>
            <input class="partial__55--right" name="system.range.shortMin" type="text" value="{{item.system.range.shortMin}}"
                data-dtype="Number">
        </div>
        {{!-- short range Max --}}
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Weapon.rangeShortMax"}}:</label>
            <input class="partial__55--right" name="system.range.shortMax" type="text" value="{{item.system.range.shortMax}}"
                data-dtype="Number">
        </div>
        {{!-- long range Min--}}
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Weapon.rangeLongMin"}}:</label>
            <input  class="partial__55--right" name="system.range.longMin" type="text" value="{{item.system.range.longMin}}"
                data-dtype="Number">
        </div>
        {{!-- long range Max--}}
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Weapon.rangeLongMax"}}:</label>
            <input  class="partial__55--right" name="system.range.longMax" type="text" value="{{item.system.range.longMax}}"
                data-dtype="Number">
        </div>
    {{else}}
        {{!-- Range--}}
        <div class="item-data__input--line">
            <label class="partial__40--left">{{localize "ED.Item.Weapon.range"}}:</label>
            <input  class="partial__55--right" name="system.range.longMax" type="text" value="{{item.system.range.longMax}}"
                data-dtype="Number">
        </div>
    {{/if}}

    {{!-- forgeBonus --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.forgeBonus"}}:</label>
        <input class="partial__55--right" name="system.forgeBonus" type="text" value="{{item.system.forgeBonus}}"
            data-dtype="Number">
    </div>
    {{!-- price --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.price"}}:</label>
        <input class="partial__55--right" name="system.price.value" type="text" value="{{item.system.price.value}}"
            data-dtype="Number">
    </div>
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.denomination"}}:</label>
        <select class="partial__55--right" name="system.price.denomination">
            {{selectOptions config.denomination selected=item.system.price.denomination localize=true }}
        </select>
    </div>
    {{!-- Weight --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.weight"}}:</label>
        <input class="partial__55--right" name="system.weight.value" type="text" value="{{item.system.weight.value}}"
            data-dtype="Number">
    </div>
    {{!-- Amount --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.amount"}}:</label>
        <input class="partial__55--right" name="system.amount" type="text" value="{{item.system.amount}}"
            data-dtype="Number">
    </div>
    {{!-- availability --}}
    <div class="item-data__input--line">
        <label class="partial__40--left">{{localize "ED.Item.Weapon.availability"}}:</label>
        <select class="partial__55--right" name=="system.availability">
            {{selectOptions config.availability selected=item.system.availability localize=true }}
        </select>
    </div>
</div>
{{!-- Editor --}}
<div class="item__right--main sheet__editor">
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>