<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Circle / Rank --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.General.rank"}}:</label>
        <input class="input__circle-input" name="system.level" type="text" value="{{item.system.level}}"
            data-dtype="Number">
    </div>
    {{!-- sourceDiscipline --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Path.sourceDiscipline"}}:</label>
        <input class="input__text-input" name="system.sourceDiscipline" type="text" value="{{item.system.sourceDiscipline}}"
            data-dtype="String">
    </div>
</div>
<div class="item__right--main item-sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>