<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Weapon Type --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.weaponType"}}:</label>
        <select class="input__select-input" name="system.weaponType" value="{{item.system.weaponType}}" 
        {{#select item.system.weaponType}}>
            <option value="0">{{localize "ED.WeaponCategory.melee"}}</option>
            <option value="1">{{localize "ED.WeaponCategory.unarmed"}}</option>
            <option value="2">{{localize "ED.WeaponCategory.missle"}}</option>
            <option value="3">{{localize "ED.WeaponCategory.thrown"}}</option>
            {{/select}}
        </select>
    </div>
    {{!-- Damage Attribute --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.damageAttribute"}}:</label>
        <select name="system.damage.attribute">
            {{selectOptions config.attributes selected=item.system.damage.attribute labelAttr="label" localize=true }}
        </select>
    </div>
    {{!-- Mystische Armor --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.damageBaseStep"}}:</label>
        <input class="input__circle-input" name="system.damage.baseStep" type="text" value="{{item.system.damage.baseStep}}"
            data-dtype="Number">
    </div>
    {{!-- Forged Physical Armor --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.size"}}:</label>
        <input class="input__circle-input" name="system.size" type="text" value="{{item.system.size}}"
            data-dtype="Number">
    </div>
    {{!-- Forged Mystische Armor --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Label.dexterityMinimum"}}:</label>
        <input class="input__circle-input" name="system.dexterityMinimum" type="text" value="{{item.system.dexterityMinimum}}"
            data-dtype="Number">
    </div>
    {{!-- Initiative Penalty --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.rangeShort"}}:</label>
        <input class="input__circle-input" name="system.range.short" type="text" value="{{item.system.range.short}}"
            data-dtype="Number">
    </div>
    {{!-- Initiative Penalty --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.rangeLong"}}:</label>
        <input class="input__circle-input" name="system.range.long" type="text" value="{{item.system.range.long}}"
            data-dtype="Number">
    </div>
    {{!-- Initiative Penalty --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Label.ammunition"}}:</label>
        <input class="input__circle-input" name="system.ammunition" type="text" value="{{item.system.ammunition}}"
            data-dtype="Number">
    </div>
    {{!-- Initiative Penalty --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Weapon.Hint.forgeBonus"}}:</label>
        <input class="input__circle-input" name="system.forgeBonus" type="text" value="{{item.system.forgeBonus}}"
            data-dtype="Number">
    </div>
    {{!-- price --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.General.price"}}:</label>
        <input class="input__number-input" name="system.price.value" type="text" value="{{item.system.price.value}}"
            data-dtype="Number">
            <select name="system.price.denomination">
                {{selectOptions config.denomination selected=item.system.price.denomination localize=true }}
            </select>
    </div>
    {{!-- Weight --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.General.weight"}}:</label>
        <input class="input__number-input" name="system.weight" type="text" value="{{item.system.weight}}"
            data-dtype="Number">
    </div>
    {{!-- Amount --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.General.amount"}}:</label>
        <input class="input__number-input" name="system.amount" type="text" value="{{item.system.amount}}"
            data-dtype="Number">
    </div>
    {{!-- availability --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Availability.availability"}}:</label>
        <select name="system.availability">
            {{selectOptions config.availability selected=item.system.availability localize=true }}
        </select>
    </div>
</div>
{{!-- Editor --}}
<div class="item__right--main item-sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>