<div class="item__left--main">
    <h3>{{localize "ED.Item.Header.general"}}</h3>
    {{!-- Weapon Type --}}
    {{formField systemFields.weaponType name="system.weaponType" value=item.system.weaponType localize=true}}
    {{#if this.item.system.isRanged}}
        {{!-- ammunition - Type --}}
        {{formField systemFields.ammunition.fields.type name="system.ammunition.type" value=item.system.ammunition.type localize=true}}
    {{/if}}
    {{!-- Damage Attribute --}}
    {{formField systemFields.damage.fields.attribute name="system.damage.attribute" value=item.system.damage.attribute localize=true}}
    {{!-- Damage base Step --}}
    {{formField systemFields.damage.fields.baseStep name="system.damage.baseStep" value=item.system.damage.baseStep localize=true}}
    {{!-- Weapon Size --}}
    {{formField systemFields.size name="system.size" value=item.system.size  type="number" localize=true}}
    {{!-- Dexterity Minimum --}}
    {{formField systemFields.dexterityMinimum name="system.dexterityMinimum" value=item.system.dexterityMinimum localize=true}}
    {{!-- Strength Minimum --}}
    {{formField systemFields.strengthMinimum name="system.strengthMinimum" value=item.system.strengthMinimum localize=true}}
    {{#if this.item.system.isRanged}}
        {{!-- short range Min --}}
        {{formField systemFields.range.fields.shortMin name="system.range.shortMin" value=item.system.range.shortMin localize=true}}
        {{!-- short range Max --}}
        {{formField systemFields.range.fields.shortMax name="system.range.shortMax" value=item.system.range.shortMax localize=true}}
        {{!-- long range Min--}}
        {{formField systemFields.range.fields.longMin name="system.range.longMin" value=item.system.range.longMin localize=true}}
        {{!-- long range Max--}}
        {{formField systemFields.range.fields.longMax name="system.range.longMax" value=item.system.range.longMax localize=true}}
    {{else}}
        {{!-- Range--}}
        {{formField systemFields.range.fields.longMax name="system.range.longMax" value=item.system.range.longMax localize=true}}
    {{/if}}
    {{!-- forgeBonus --}}
    {{formField systemFields.forgeBonus name="system.forgeBonus" value=item.system.forgeBonus localize=true}}
    {{!-- Amount --}}
    {{formField systemFields.amount name="system.amount" value=item.system.amount localize=true}}
    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/physical-items.hbs"}}
</div>
<div class="item__right--main sheet__editor">
    {{!-- Description --}}
    <h3>{{localize "ED.Item.Header.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>