<div class="item__left--main">
    <h3>{{localize "ED.General.coreData"}}</h3>
    {{!-- Circle --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.circle"}}:</label>
        <input class="input__circle-input" name="system.level" type="text" value="{{item.system.level}}"
            data-dtype="Number">
    </div>
    {{!-- Required Threads --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.threadsrequired"}}:</label>
        <input class="input__circle-input" name="system.threadsrequired" type="text" value="{{item.system.threadsrequired}}"
            data-dtype="Number">
    </div>
    {{!-- Weaving Difficulty --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.weavingdifficulty"}}:</label>
        <input class="input__circle-input" name="system.weavingdifficulty" type="text" value="{{item.system.weavingdifficulty}}"
            data-dtype="Number">
    </div>
    {{!-- Reattune Difficulty --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.reattunedifficultyShort"}}:</label>
        <input class="input__circle-input" name="system.reattunedifficulty" type="text" value="{{item.system.reattunedifficulty}}"
            data-dtype="Number">
    </div>
    {{!-- Casting Difficulty --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.castingdifficulty"}}:</label>
        <input class="input__text-input" name="system.castingdifficulty" type="text" value="{{item.system.castingdifficulty}}"
            data-dtype="Number">
    </div>
    {{!-- Effect --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.effect"}}:</label>
        <input class="input__text-input" name="system.effect" type="text" value="{{item.system.effect}}"
            data-dtype="String">
    </div>
    {{!-- Source Discipline --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.sourceDiscipline"}}:</label>
        <input class="input__text-input" name="system.sourceDiscipline" type="text" value="{{item.system.sourceDiscipline}}"
            data-dtype="String">
    </div>
    {{!-- duration --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.duration"}}:</label>
        <input class="input__number-input" name="system.duration.value" type="text" value="{{item.system.duration.value}}"
            data-dtype="String">
        <input class="input__number-input" name="system.duration.uom" type="text" value="{{item.system.duration.uom}}"
            data-dtype="String">
    </div>
    {{!-- range --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.range"}}:</label>
        <input class="input__number-input" name="system.range.value" type="text" value="{{item.system.range.value}}"
            data-dtype="String">
        <input class="input__number-input" name="system.range.uom" type="text" value="{{item.system.range.uom}}"
            data-dtype="String">
    </div>
    {{!-- Spell area --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.spellArea"}}:</label>
        <input class="input__number-input" name="system.spellArea.shape" type="text" value="{{item.system.spellArea.shape}}"
            data-dtype="String">
        <input class="input__number-input" name="system.spellArea.uom" type="text" value="{{item.system.spellArea.uom}}"
            data-dtype="String">
    </div>
        {{!-- Spell Illusion --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.spellIllustion"}}:</label>
        <input class="input__text-input" name="system.spellIllustion.illusionType" type="text" value="{{item.system.spellIllustion.illusionType}}"
            data-dtype="String">
    </div>
    {{!-- Elemental --}}
    <div class="item-data__input--line">
        <label class="label__left">{{localize "ED.Item.Spell.spellElement"}}:</label>
        <input class="input__number-input" name="system.spellElement.elementType" type="text" value="{{item.system.spellElement.elementType}}"
            data-dtype="String">
        <input class="input__number-input" name="system.spellElement.elementSubtype" type="text" value="{{item.system.spellElement.elementSubtype}}"
            data-dtype="String">
    </div>
</div>
<div class="item__right--main item-sheet__editor">
    <h3>{{localize "ED.Item.General.description"}}</h3>
    {{> "systems/ed4e/templates/global/editor.hbs"}}
</div>